In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
from matplotlib import font_manager, rc
sns.set(style='darkgrid')


rc('font', family='AppleGothic')
matplotlib.rcParams['axes.unicode_minus'] = False
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [3]:
lotte = pd.read_excel("../../../../Downloads/롯데마트자료.xlsx",usecols="A")
lotte

       지점명
0     서울역점
1      삼양점
2      중계점
3     청량리점
4      강변점
..     ...
125    수지점
126    양주점
127  천안아산점
128   의정부점
129    천안점

[130 rows x 1 columns]

In [4]:
a = ["롯데마트"+i for i in lotte.지점명]

In [5]:
a

['롯데마트서울역점',
 '롯데마트삼양점',
 '롯데마트중계점',
 '롯데마트청량리점',
 '롯데마트강변점',
 '롯데마트은평점',
 '롯데마트송파점',
 '롯데마트월드타워점',
 '롯데마트잠실점',
 '롯데마트구로점',
 '롯데마트금천점',
 '롯데마트김포공항점(롯데몰)',
 '롯데마트양평점',
 '롯데마트서초점',
 '롯데마트광교점',
 '롯데마트권선점',
 '롯데마트수원점',
 '롯데마트영통점',
 '롯데마트천천점',
 '롯데마트고양점',
 '롯데마트주엽점',
 '롯데마트화정점',
 '롯데마트시화점',
 '롯데마트시흥점',
 '롯데마트시흥배곧점',
 '롯데마트상록점',
 '롯데마트선부점',
 '롯데마트안산점',
 '롯데마트신갈점',
 '롯데마트수지점(롯데몰)',
 '롯데마트덕소점',
 '롯데마트마석점',
 '롯데마트서현점',
 '롯데마트판교점',
 '롯데마트의정부점',
 '롯데마트장암점',
 '롯데마트이천점',
 '롯데마트경기양평점',
 '롯데마트구리점',
 '롯데마트김포한강신도시점',
 '롯데마트동두천점',
 '롯데마트안성점',
 '롯데마트오산점',
 '롯데마트의왕점',
 '롯데마트평택점',
 '롯데마트부평점',
 '롯데마트부평역점',
 '롯데마트삼산점',
 '롯데마트검단점',
 '롯데마트청라점',
 '롯데마트송도점',
 '롯데마트연수점',
 '롯데마트계양점',
 '롯데마트영종도점',
 '롯데마트인천터미널',
 '롯데마트석사점',
 '롯데마트원주점',
 '롯데마트춘천점',
 '롯데마트노은점',
 '롯데마트대덕점',
 '롯데마트서대전점',
 '롯데마트상담점',
 '롯데마트서청주점',
 '롯데마트청주점',
 '롯데마트제천점',
 '롯데마트충주점',
 '롯데마트성정점',
 '롯데마트천안점',
 '롯데마트당진점',
 '롯데마트서산점',
 '롯데마트아산터미널점',
 '롯데마트홍성점',
 '롯데마트광복점',
 '롯데마트금정점',
 '롯데마트동래점',
 '롯데마트동부산점(롯데몰)',
 '롯데마트부산점',
 '롯데마트사상점(엄궁점)',
 '롯데마트사하점',
 '롯데마트화명점',
 '롯데마트대구율하점',
 '롯데마트칠성점',
 '롯데마트울산점',
 '롯데마트진장점',
 '롯데마트구미점',
 '롯데마트김천점',
 '롯데마트마산점',
 '롯데마트시티세븐점',
 '롯데마트양덕점',
 '롯데마트진해점',
 '롯데마트창원중앙점',
 '롯데마트김해점',
 '롯데마트장유점',
 '롯데마트거제점',
 '롯데마트웅상점',
 '롯데마트통영점',
 '롯데마트진주점',
 '롯데마트상무점',
 '롯데마트수완점',
 '롯데마트월드컵점',
 '롯데마트첨단점',
 '롯데마트군산점',
 '롯데마트남원점',
 '롯데마트송천점',
 '롯데마트익산점',
 '롯데마트전주점',
 '롯데마트정읍점',
 '롯데마트여수점',
 '롯데마트여천점',
 '롯데마트나주점',
 '롯데마트목포점',
 '롯데마트남악점',
 '롯데마트제주점',
 '롯데마트롯데식품관 평존점',
 '롯데마트포항두호점',
 '롯데마트동탄점',
 '롯데마트고덕점',
 '롯데마트해운대점',
 '롯데마트서대구점',
 '롯데마트관악점',
 '롯데마트와스타디움점',
 '롯데마트항동점',
 '롯데마트반여점',
 '롯데마트김포점',
 '롯데마트동대전점',
 '롯데마트수지점',
 '롯데마트양주점',
 '롯데마트천안아산점',
 '롯데마트의정부점',
 '롯데마트천안점']

In [6]:
from bs4 import BeautifulSoup
import urllib.request as req
import urllib.parse
import sys
import io

In [7]:
count = []
for i in a:
    try:
        plus_url = urllib.parse.quote_plus('"{}"'.format(i))
        url = "https://search.naver.com/search.naver?where=post&query={}&st=sim&sm=tab_opt&date_from=20030520&date_to=20200708&date_option=7&srchby=all&dup_remove=1&post_blogurl=&post_blogurl_without=&nso=so%3Ar%2Ca%3Aall%2Cp%3A1y".format(plus_url)

        res = req.urlopen(url).read()
        soup = BeautifulSoup(res, 'html.parser')
        title = soup.find(class_="title_num")
        
        count.append(title.text.split("/")[1].strip()[:-1])
        print(i,count[-1])
    except:
        count.append(0)
        print(i,count[-1])

롯데마트서울역점 564
롯데마트삼양점 167
롯데마트중계점 841
롯데마트청량리점 249
롯데마트강변점 72
롯데마트은평점 185
롯데마트송파점 247
롯데마트월드타워점 89
롯데마트잠실점 621
롯데마트구로점 321
롯데마트금천점 371
롯데마트김포공항점(롯데몰) 1
롯데마트양평점 286
롯데마트서초점 275
롯데마트광교점 117
롯데마트권선점 443
롯데마트수원점 110
롯데마트영통점 338
롯데마트천천점 108
롯데마트고양점 417
롯데마트주엽점 208
롯데마트화정점 302
롯데마트시화점 57
롯데마트시흥점 176
롯데마트시흥배곧점 148
롯데마트상록점 80
롯데마트선부점 118
롯데마트안산점 197
롯데마트신갈점 354
롯데마트수지점(롯데몰) 9
롯데마트덕소점 47
롯데마트마석점 120
롯데마트서현점 65
롯데마트판교점 80
롯데마트의정부점 151
롯데마트장암점 144
롯데마트이천점 16
롯데마트경기양평점 35
롯데마트구리점 262
롯데마트김포한강신도시점 19
롯데마트동두천점 38
롯데마트안성점 193
롯데마트오산점 172
롯데마트의왕점 295
롯데마트평택점 251
롯데마트부평점 410
롯데마트부평역점 196
롯데마트삼산점 556
롯데마트검단점 124
롯데마트청라점 371
롯데마트송도점 392
롯데마트연수점 267
롯데마트계양점 464
롯데마트영종도점 154
롯데마트인천터미널 7
롯데마트석사점 49
롯데마트원주점 166
롯데마트춘천점 151
롯데마트노은점 157
롯데마트대덕점 223
롯데마트서대전점 88
롯데마트상담점 154
롯데마트서청주점 40
롯데마트청주점 56
롯데마트제천점 26
롯데마트충주점 86
롯데마트성정점 389
롯데마트천안점 88
롯데마트당진점 153
롯데마트서산점 68
롯데마트아산터미널점 26
롯데마트홍성점 37
롯데마트광복점 154
롯데마트금정점 282
롯데마트동래점 121
롯데마트동부산점(롯데몰) 0
롯데마트부산점 163
롯데마트사상점(엄궁점) 1
롯데마트사하점 103
롯데마트화명점 164
롯데마트대구율하점 296
롯데마트칠성점 481
롯데마트울산점 390
롯데마트진장점 245
롯데마트구미점 250
롯데마트김천점 36
롯데마트마산점 78
롯데마트시티세븐점 32
롯데마트양덕점 146
롯데마트진해점 94
롯데마트창원중앙점 134
롯데마트김해점 84
롯데마트장유점 181
롯데마트거제점 125
롯데마트웅상점 100
롯데마트통영점 32
롯데마트진주점 34
롯데마트상무점 177
롯데마트수완점 328
롯데마트월드컵점 192
롯데마트첨단점 105
롯데마트군산점 217
롯데마트남원점 24
롯데마트송천점 114
롯데마트익산점 67
롯데마트전주점 67
롯데마트정읍점 19
롯데마트여수점 78
롯데마트여천점 58
롯데마트나주점 18
롯데마트목포점 64
롯데마트남악점 32
롯데마트제주점 272
롯데마트롯데식품관 평존점 0
롯데마트포항두호점 1
롯데마트동탄점 0
롯데마트고덕점 0
롯데마트해운대점 0
롯데마트서대구점 2
롯데마트관악점 0
롯데마트와스타디움점 2
롯데마트항동점 173
롯데마트반여점 2
롯데마트김포점 62
롯데마트동대전점 7
롯데마트수지점 216
롯데마트양주점 85
롯데마트천안아산점 281
롯데마트의정부점 151
롯데마트천안점 88

In [8]:
len(count)

130

In [9]:
count

['564',
 '167',
 '841',
 '249',
 '72',
 '185',
 '247',
 '89',
 '621',
 '321',
 '371',
 '1',
 '286',
 '275',
 '117',
 '443',
 '110',
 '338',
 '108',
 '417',
 '208',
 '302',
 '57',
 '176',
 '148',
 '80',
 '118',
 '197',
 '354',
 '9',
 '47',
 '120',
 '65',
 '80',
 '151',
 '144',
 '16',
 '35',
 '262',
 '19',
 '38',
 '193',
 '172',
 '295',
 '251',
 '410',
 '196',
 '556',
 '124',
 '371',
 '392',
 '267',
 '464',
 '154',
 '7',
 '49',
 '166',
 '151',
 '157',
 '223',
 '88',
 '154',
 '40',
 '56',
 '26',
 '86',
 '389',
 '88',
 '153',
 '68',
 '26',
 '37',
 '154',
 '282',
 '121',
 0,
 '163',
 '1',
 '103',
 '164',
 '296',
 '481',
 '390',
 '245',
 '250',
 '36',
 '78',
 '32',
 '146',
 '94',
 '134',
 '84',
 '181',
 '125',
 '100',
 '32',
 '34',
 '177',
 '328',
 '192',
 '105',
 '217',
 '24',
 '114',
 '67',
 '67',
 '19',
 '78',
 '58',
 '18',
 '64',
 '32',
 '272',
 0,
 '1',
 0,
 0,
 0,
 '2',
 0,
 '2',
 '173',
 '2',
 '62',
 '7',
 '216',
 '85',
 '281',
 '151',
 '88']

In [10]:
lotte["블로그(1년)"] = count

In [12]:
lotte.to_excel("../../../../Downloads/롯데마트자료.xlsx",encoding="cp949",index=False)