In [12]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
from matplotlib import font_manager, rc
sns.set(style='darkgrid')


rc('font', family='AppleGothic')
matplotlib.rcParams['axes.unicode_minus'] = False
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [13]:
lotte = pd.read_excel("../../../../Downloads/롯데마트자료.xlsx",usecols="B")
lotte

       지점명
0     서울역점
1      삼양점
2      중계점
3     청량리점
4      강변점
..     ...
130    수지점
131    양주점
132  천안아산점
133   의정부점
134    천안점

[135 rows x 1 columns]

In [17]:
lotte = lotte.loc[lotte.isna().sum(1) != True,"지점명"]

In [19]:
lotte.reset_index(drop=True, inplace=True)

In [20]:
lotte

0       서울역점
1        삼양점
2        중계점
3       청량리점
4        강변점
       ...
125      수지점
126      양주점
127    천안아산점
128     의정부점
129      천안점
Name: 지점명, Length: 130, dtype: object

In [21]:
a = ["롯데마트"+i for i in lotte]

In [22]:
a

['롯데마트서울역점',
 '롯데마트삼양점',
 '롯데마트중계점',
 '롯데마트청량리점',
 '롯데마트강변점',
 '롯데마트은평점',
 '롯데마트송파점',
 '롯데마트월드타워점',
 '롯데마트잠실점',
 '롯데마트구로점',
 '롯데마트금천점',
 '롯데마트김포공항점(롯데몰)',
 '롯데마트양평점',
 '롯데마트서초점',
 '롯데마트광교점',
 '롯데마트권선점',
 '롯데마트수원점',
 '롯데마트영통점',
 '롯데마트천천점',
 '롯데마트고양점',
 '롯데마트주엽점',
 '롯데마트화정점',
 '롯데마트시화점',
 '롯데마트시흥점',
 '롯데마트시흥배곧점',
 '롯데마트상록점',
 '롯데마트선부점',
 '롯데마트안산점',
 '롯데마트신갈점',
 '롯데마트수지점(롯데몰)',
 '롯데마트덕소점',
 '롯데마트마석점',
 '롯데마트서현점',
 '롯데마트판교점',
 '롯데마트의정부점',
 '롯데마트장암점',
 '롯데마트이천점',
 '롯데마트경기양평점',
 '롯데마트구리점',
 '롯데마트김포한강신도시점',
 '롯데마트동두천점',
 '롯데마트안성점',
 '롯데마트오산점',
 '롯데마트의왕점',
 '롯데마트평택점',
 '롯데마트부평점',
 '롯데마트부평역점',
 '롯데마트삼산점',
 '롯데마트검단점',
 '롯데마트청라점',
 '롯데마트송도점',
 '롯데마트연수점',
 '롯데마트계양점',
 '롯데마트영종도점',
 '롯데마트인천터미널',
 '롯데마트석사점',
 '롯데마트원주점',
 '롯데마트춘천점',
 '롯데마트노은점',
 '롯데마트대덕점',
 '롯데마트서대전점',
 '롯데마트상담점',
 '롯데마트서청주점',
 '롯데마트청주점',
 '롯데마트제천점',
 '롯데마트충주점',
 '롯데마트성정점',
 '롯데마트천안점',
 '롯데마트당진점',
 '롯데마트서산점',
 '롯데마트아산 터미널점',
 '롯데마트홍성점',
 '롯데마트광복점',
 '롯데마트금정점',
 '롯데마트동래점',
 '롯데마트동부산점(롯데몰)',
 '롯데마트부산점',
 '롯데마트사상점(엄궁점)',
 '롯데마트사하점',
 '롯데마트화명점',
 '롯데마트대구율하점',
 '롯데마트칠성점',
 '롯데마트울산점',
 '롯데마트진장점',
 '롯데마트구미점',
 '롯데마트김천점',
 '롯데마트마산점',
 '롯데마트시티세븐점',
 '롯데마트양덕점',
 '롯데마트진해점',
 '롯데마트창원중앙점',
 '롯데마트김해점',
 '롯데마트장유점',
 '롯데마트거제점',
 '롯데마트웅상점',
 '롯데마트통영점',
 '롯데마트진주점',
 '롯데마트상무점',
 '롯데마트수완점',
 '롯데마트월드컵점',
 '롯데마트첨단점',
 '롯데마트군산점',
 '롯데마트남원점',
 '롯데마트송천점',
 '롯데마트익산점',
 '롯데마트전주점',
 '롯데마트정읍점',
 '롯데마트여수점',
 '롯데마트여천점',
 '롯데마트나주점',
 '롯데마트목포점',
 '롯데마트남악점',
 '롯데마트제주점',
 '롯데마트롯데식품관 평존점',
 '롯데마트포항두호점',
 '롯데마트동탄점',
 '롯데마트고덕점',
 '롯데마트해운대점',
 '롯데마트서대구점',
 '롯데마트관악점',
 '롯데마트와스타디움점',
 '롯데마트항동점',
 '롯데마트반여점',
 '롯데마트김포점',
 '롯데마트동대전점',
 '롯데마트수지점',
 '롯데마트양주점',
 '롯데마트천안아산점',
 '롯데마트의정부점',
 '롯데마트천안점']

In [23]:
import requests 
from bs4 import BeautifulSoup 
from selenium import webdriver as wd 
from selenium.webdriver.common.by import By 
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions as EC 
import time 
import re

In [24]:
from selenium.webdriver.chrome.options import Options

chrome_options = Options()

chrome_options.add_argument("--headless")

In [25]:
count = []

for i in a:
    try:
        url = "https://www.instagram.com/explore/tags/{}/".format(i)

        driver = wd.Chrome(chrome_options=chrome_options,executable_path="../../../../study/html/chromedriver")
        driver.get(url)
        time.sleep(5)
        data = driver.find_element_by_class_name('g47SY').text
        count.append(data)
        print(i)
    except:
        print("실패: ",i)
        count.append("fail")

롯데마트서울역점
롯데마트삼양점
롯데마트중계점
롯데마트청량리점
롯데마트강변점
롯데마트은평점
롯데마트송파점
롯데마트월드타워점
롯데마트잠실점
롯데마트구로점
롯데마트금천점
실패:  롯데마트김포공항점(롯데몰)
롯데마트양평점
롯데마트서초점
롯데마트광교점
롯데마트권선점
롯데마트수원점
롯데마트영통점
롯데마트천천점
롯데마트고양점
롯데마트주엽점
롯데마트화정점
롯데마트시화점
롯데마트시흥점
롯데마트시흥배곧점
롯데마트상록점
롯데마트선부점
롯데마트안산점
롯데마트신갈점
실패:  롯데마트수지점(롯데몰)
롯데마트덕소점
롯데마트마석점
롯데마트서현점
롯데마트판교점
롯데마트의정부점
롯데마트장암점
롯데마트이천점
롯데마트경기양평점
롯데마트구리점
실패:  롯데마트김포한강신도시점
롯데마트동두천점
롯데마트안성점
롯데마트오산점
롯데마트의왕점
롯데마트평택점
롯데마트부평점
롯데마트부평역점
롯데마트삼산점
롯데마트검단점
롯데마트청라점
롯데마트송도점
롯데마트연수점
롯데마트계양점
롯데마트영종도점
실패:  롯데마트인천터미널
롯데마트석사점
롯데마트원주점
롯데마트춘천점
롯데마트노은점
롯데마트대덕점
롯데마트서대전점
실패:  롯데마트상담점
롯데마트서청주점
롯데마트청주점
실패:  롯데마트제천점
롯데마트충주점
롯데마트성정점
롯데마트천안점
롯데마트당진점
롯데마트서산점
실패:  롯데마트아산 터미널점
롯데마트홍성점
롯데마트광복점
롯데마트금정점
롯데마트동래점
실패:  롯데마트동부산점(롯데몰)
롯데마트부산점
실패:  롯데마트사상점(엄궁점)
롯데마트사하점
롯데마트화명점
롯데마트대구율하점
롯데마트칠성점
롯데마트울산점
롯데마트진장점
롯데마트구미점
롯데마트김천점
롯데마트마산점
롯데마트시티세븐점
롯데마트양덕점
롯데마트진해점
롯데마트창원중앙점
롯데마트김해점
롯데마트장유점
롯데마트거제점
롯데마트웅상점
롯데마트통영점
롯데마트진주점
롯데마트상무점
롯데마트수완점
롯데마트월드컵점
롯데마트첨단점
롯데마트군산점
롯데마트남원점
롯데마트송천점
롯데마트익산점
롯데마트전주점
롯데마트정읍점
롯데마트여수점
롯데마트여천점
실패:  롯데마트나주점
롯데마트목포점
롯데마트남악점
롯데마트제주점
실패:  롯데마트롯데식품관 평존점
실패:  롯데마트포항두호점
실패:  롯데마트동탄점
실패:  롯데마트고덕점
실패:  롯데마트해운대점
실패:  롯데마트서대구점
실패:  롯데마트관악점
실패:  롯데마트와스타디움점
실패:  롯데마트항동점
롯데마트반여점
롯데마트김포점
실패:  롯데마트동대전점
롯데마트수지점
롯데마트양주점
롯데마트천안아산점
롯데마트의정부점
롯데마트천안점

In [27]:
len(count)

130

In [28]:
count

['509',
 '66',
 '756',
 '166',
 '61',
 '208',
 '507',
 '124',
 '536',
 '678',
 '376',
 'fail',
 '1,637',
 '1,396',
 '382',
 '323',
 '45',
 '229',
 '192',
 '375',
 '173',
 '60',
 '6',
 '237',
 '100',
 '127',
 '307',
 '442',
 '426',
 'fail',
 '36',
 '45',
 '27',
 '179',
 '66',
 '27',
 '361',
 '16',
 '526',
 'fail',
 '36',
 '113',
 '185',
 '152',
 '292',
 '730',
 '67',
 '1,820',
 '241',
 '265',
 '342',
 '34',
 '790',
 '251',
 'fail',
 '175',
 '42',
 '298',
 '393',
 '528',
 '208',
 'fail',
 '54',
 '25',
 'fail',
 '133',
 '502',
 '165',
 '208',
 '186',
 'fail',
 '20',
 '332',
 '565',
 '132',
 'fail',
 '374',
 'fail',
 '218',
 '185',
 '16',
 '3,924',
 '527',
 '1,413',
 '772',
 '213',
 '307',
 '21',
 '2,350',
 '377',
 '272',
 '71',
 '592',
 '555',
 '420',
 '131',
 '52',
 '443',
 '1,060',
 '2,509',
 '271',
 '178',
 '26',
 '276',
 '190',
 '166',
 '47',
 '123',
 '18',
 'fail',
 '386',
 '112',
 '125',
 'fail',
 'fail',
 'fail',
 'fail',
 'fail',
 'fail',
 'fail',
 'fail',
 'fail',
 '1',
 '12',
 'fail',
 '332',
 '317',
 '12',
 '66',
 '165']

In [30]:
lot = pd.DataFrame()

In [31]:
lot["지점명"] = lotte

In [33]:
lot["게시물수"] = count

In [34]:
lot

       지점명 게시물수
0     서울역점  509
1      삼양점   66
2      중계점  756
3     청량리점  166
4      강변점   61
..     ...  ...
125    수지점  332
126    양주점  317
127  천안아산점   12
128   의정부점   66
129    천안점  165

[130 rows x 2 columns]

In [35]:
lot.to_excel("../../../../Downloads/롯데마트자료.xlsx",encoding="cp949",index=False)