In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
from matplotlib import font_manager, rc
sns.set(style='darkgrid')


rc('font', family='AppleGothic')
matplotlib.rcParams['axes.unicode_minus'] = False
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [2]:
hp = pd.read_excel("../../../../Downloads/홈플.xlsx",usecols="A")
hp

       지점명
0      강동점
1      강서점
2     신도림점
3      금천점
4      중계점
..     ...
138  청주성안점
139  칠곡IC점
140    상주점
141  부천중동점
142   동김해점

[143 rows x 1 columns]

In [4]:
a = ["홈플러스"+i for i in hp.지점명]

In [5]:
from bs4 import BeautifulSoup
import urllib.request as req
import urllib.parse
import sys
import io

In [6]:
count = []
for i in a:
    try:
        plus_url = urllib.parse.quote_plus('"{}"'.format(i))
        url = "https://search.naver.com/search.naver?where=post&query={}&st=sim&sm=tab_opt&date_from=20030520&date_to=20200708&date_option=7&srchby=all&dup_remove=1&post_blogurl=&post_blogurl_without=&nso=so%3Ar%2Ca%3Aall%2Cp%3A1y".format(plus_url)

        res = req.urlopen(url).read()
        soup = BeautifulSoup(res, 'html.parser')
        title = soup.find(class_="title_num")
        
        count.append(title.text.split("/")[1].strip()[:-1])
        print(i,count[-1])
    except:
        count.append(0)
        print(i,count[-1])

홈플러스강동점 298
홈플러스강서점 724
홈플러스신도림점 37
홈플러스금천점 507
홈플러스중계점 262
홈플러스방학점 35
홈플러스합정점 36
홈플러스월드컵점 46
홈플러스월곡점 254
홈플러스잠실점 383
홈플러스영등포점 412
홈플러스면목점 124
홈플러스상봉점 27
홈플러스신내점 116
홈플러스계산점 558
홈플러스작전점 520
홈플러스인하점 1,017
홈플러스간석점 522
홈플러스구월점 187
홈플러스인천논현점 158
홈플러스가좌점 340
홈플러스인천청라점 9
홈플러스송도점 39
홈플러스고양터미널점 6
홈플러스일산점 262
홈플러스킨텍스점 82
홈플러스김포점 117
홈플러스김포풍무점 351
홈플러스진접점 9
홈플러스부천소사점 137
홈플러스부천여월점 84
홈플러스부천상동점 309
홈플러스야탑점 62
홈플러스서수원점 26
홈플러스영통점 411
홈플러스원천점 145
홈플러스북수원점 431
홈플러스동수원점 296
홈플러스안산선부점 107
홈플러스안산점 316
홈플러스평촌점 198
홈플러스안양점 72
홈플러스오산점 18
홈플러스의정부점 333
홈플러스파주문산점 24
홈플러스파주운정점 20
홈플러스송탄점 41
홈플러스평택안중점 0
홈플러스포천송우점 16
홈플러스하남점 19
홈플러스병점점 57
홈플러스화성향남점 43
홈플러스강릉점 51
홈플러스삼척점 16
홈플러스원주점 34
홈플러스춘천점 102
홈플러스동청주점 136
홈플러스오창점 48
홈플러스청주점 139
홈플러스세종점 135
홈플러스조치원점 42
홈플러스대전가오점 36
홈플러스대전둔산점 118
홈플러스대전탄방점 30
홈플러스서대전점 83
홈플러스유성점 73
홈플러스문화점 193
홈플러스계룡점 117
홈플러스논산점 42
홈플러스보령점 17
홈플러스천안점 40
홈플러스김제점 10
홈플러스익산점 84
홈플러스전주점 59
홈플러스전주효자점 115
홈플러스계림점 236
홈플러스동광주점 315
홈플러스광양점 73
홈플러스목포점 27
홈플러스순천점 137
홈플러스남대구점 187
홈플러스성서점 360
홈플러스동촌점 143
홈플러스칠곡점 303
홈플러스내당점 280
홈플러스대구스타디움점 23
홈플러스대구수성점 66
홈플러스경산점 19
홈플러스경주점 37
홈플러스구미점 114
홈플러스문경점 21
홈플러스안동점 11
홈플러스영주점 23
홈플러스포항점 3
홈플러스죽도점 30
홈플러스부산감만점 20
홈플러스동래점 389
홈플러스가야점 437
홈플러스서면점 93
홈플러스장림점 85
홈플러스아시아드점 462
홈플러스부산연산점 4
홈플러스영도점 91
홈플러스부산반여점 22
홈플러스센텀시티점 651
홈플러스부산정관점 37
홈플러스울산남구점 80
홈플러스울산동구점 109
홈플러스울산북구점 73
홈플러스울산점 541
홈플러스거제점 54
홈플러스김해점 258
홈플러스밀양점 21
홈플러스삼천포점 17
홈플러스진주점 48
홈플러스마산점 131
홈플러스창원점 276
홈플러스진해점 59
홈플러스서귀포점 61
홈플러스가양점 282
홈플러스동대문점 515
홈플러스목동점 945
홈플러스서울남현점 3
홈플러스시흥점 417
홈플러스분당오리점 69
홈플러스시화점 144
홈플러스안산고잔점 205
홈플러스화성동탄점 72
홈플러스인천연수점 10
홈플러스광주하남점 57
홈플러스대구점 269
홈플러스상인점 357
홈플러스동대전점 97
홈플러스서부산점 38
홈플러스해운대점 208
홈플러스순천풍덕점 7
홈플러스전주완산점 45
홈플러스천안신방점 159
홈플러스청주성안점 38
홈플러스칠곡IC점 0
홈플러스상주점 0
홈플러스부천중동점 0
홈플러스동김해점 0

In [7]:
len(count)

143

In [8]:
hp["블로그게시물(1년)"] = count

In [9]:
hp.to_excel("../../데이터/홈플(블로그게시물(1년).xlsx",encoding="cp949",index=False)

In [10]:
hp = pd.read_excel("../../../../Downloads/홈플.xlsx",usecols="A,F")
hp

       지점명  Unnamed: 5
0      강동점         NaN
1      강서점         NaN
2     신도림점         NaN
3      금천점         NaN
4      중계점         NaN
..     ...         ...
138  청주성안점         0.0
139  칠곡IC점         0.0
140    상주점         NaN
141  부천중동점         0.0
142   동김해점         NaN

[143 rows x 2 columns]

In [14]:
hp=hp[hp.isna().sum(1)!=True]

In [15]:
hp.reset_index(drop=True,inplace=True)

In [17]:
hp = hp.지점명

In [18]:
hp

0     인천논현점
1     인천청라점
2     김포풍무점
3     부천소사점
4     부천여월점
5     부천상동점
6     안산선부점
7     파주문산점
8     파주운정점
9     평택안중점
10    포천송우점
11    화성향남점
12    대전가오점
13    대전둔산점
14    대전탄방점
15    전주효자점
16    대구수성점
17    부산감만점
18    부산연산점
19    부산반여점
20    부산정관점
21    서울남현점
22    분당오리점
23    안산고잔점
24    화성동탄점
25    인천연수점
26    광주하남점
27    순천풍덕점
28    전주완산점
29    천안신방점
30    청주성안점
31    칠곡IC점
32    부천중동점
Name: 지점명, dtype: object

In [24]:
a = ["홈플러스"+i[2:] for i in hp]

In [25]:
a

['홈플러스논현점',
 '홈플러스청라점',
 '홈플러스풍무점',
 '홈플러스소사점',
 '홈플러스여월점',
 '홈플러스상동점',
 '홈플러스선부점',
 '홈플러스문산점',
 '홈플러스운정점',
 '홈플러스안중점',
 '홈플러스송우점',
 '홈플러스향남점',
 '홈플러스가오점',
 '홈플러스둔산점',
 '홈플러스탄방점',
 '홈플러스효자점',
 '홈플러스수성점',
 '홈플러스감만점',
 '홈플러스연산점',
 '홈플러스반여점',
 '홈플러스정관점',
 '홈플러스남현점',
 '홈플러스오리점',
 '홈플러스고잔점',
 '홈플러스동탄점',
 '홈플러스연수점',
 '홈플러스하남점',
 '홈플러스풍덕점',
 '홈플러스완산점',
 '홈플러스신방점',
 '홈플러스성안점',
 '홈플러스IC점',
 '홈플러스중동점']

In [26]:
count = []
for i in a:
    try:
        plus_url = urllib.parse.quote_plus('"{}"'.format(i))
        url = "https://search.naver.com/search.naver?where=post&query={}&st=sim&sm=tab_opt&date_from=20030520&date_to=20200708&date_option=7&srchby=all&dup_remove=1&post_blogurl=&post_blogurl_without=&nso=so%3Ar%2Ca%3Aall%2Cp%3A1y".format(plus_url)

        res = req.urlopen(url).read()
        soup = BeautifulSoup(res, 'html.parser')
        title = soup.find(class_="title_num")
        
        count.append(title.text.split("/")[1].strip()[:-1])
        print(i,count[-1])
    except:
        count.append(0)
        print(i,count[-1])

홈플러스논현점 2
홈플러스청라점 18
홈플러스풍무점 146
홈플러스소사점 3
홈플러스여월점 10
홈플러스상동점 227
홈플러스선부점 3
홈플러스문산점 1
홈플러스운정점 44
홈플러스안중점 5
홈플러스송우점 0
홈플러스향남점 77
홈플러스가오점 25
홈플러스둔산점 23
홈플러스탄방점 27
홈플러스효자점 13
홈플러스수성점 27
홈플러스감만점 4
홈플러스연산점 60
홈플러스반여점 6
홈플러스정관점 6
홈플러스남현점 30
홈플러스오리점 4
홈플러스고잔점 22
홈플러스동탄점 6
홈플러스연수점 16
홈플러스하남점 19
홈플러스풍덕점 5
홈플러스완산점 13
홈플러스신방점 6
홈플러스성안점 15
홈플러스IC점 0
홈플러스중동점 36

In [27]:
hp = pd.read_excel("../../../../Downloads/홈플.xlsx",usecols="A,F")
hp

       지점명
0      강동점
1      강서점
2     신도림점
3      금천점
4      중계점
..     ...
138  청주성안점
139  칠곡IC점
140    상주점
141  부천중동점
142   동김해점

[143 rows x 1 columns]

In [32]:
a = ["홈플러스스페셜"+i for i in hp.iloc[119:139,0]]

In [33]:
a

['홈플러스스페셜가양점',
 '홈플러스스페셜동대문점',
 '홈플러스스페셜목동점',
 '홈플러스스페셜서울남현점',
 '홈플러스스페셜시흥점',
 '홈플러스스페셜분당오리점',
 '홈플러스스페셜시화점',
 '홈플러스스페셜안산고잔점',
 '홈플러스스페셜화성동탄점',
 '홈플러스스페셜인천연수점',
 '홈플러스스페셜광주하남점',
 '홈플러스스페셜대구점',
 '홈플러스스페셜상인점',
 '홈플러스스페셜동대전점',
 '홈플러스스페셜서부산점',
 '홈플러스스페셜해운대점',
 '홈플러스스페셜순천풍덕점',
 '홈플러스스페셜전주완산점',
 '홈플러스스페셜천안신방점',
 '홈플러스스페셜청주성안점']

In [34]:
count = []
for i in a:
    try:
        plus_url = urllib.parse.quote_plus('"{}"'.format(i))
        url = "https://search.naver.com/search.naver?where=post&query={}&st=sim&sm=tab_opt&date_from=20030520&date_to=20200708&date_option=7&srchby=all&dup_remove=1&post_blogurl=&post_blogurl_without=&nso=so%3Ar%2Ca%3Aall%2Cp%3A1y".format(plus_url)

        res = req.urlopen(url).read()
        soup = BeautifulSoup(res, 'html.parser')
        title = soup.find(class_="title_num")
        
        count.append(title.text.split("/")[1].strip()[:-1])
        print(i,count[-1])
    except:
        count.append(0)
        print(i,count[-1])

홈플러스스페셜가양점 0
홈플러스스페셜동대문점 3
홈플러스스페셜목동점 0
홈플러스스페셜서울남현점 5
홈플러스스페셜시흥점 0
홈플러스스페셜분당오리점 9
홈플러스스페셜시화점 0
홈플러스스페셜안산고잔점 6
홈플러스스페셜화성동탄점 12
홈플러스스페셜인천연수점 1
홈플러스스페셜광주하남점 2
홈플러스스페셜대구점 2
홈플러스스페셜상인점 1
홈플러스스페셜동대전점 6
홈플러스스페셜서부산점 19
홈플러스스페셜해운대점 12
홈플러스스페셜순천풍덕점 4
홈플러스스페셜전주완산점 3
홈플러스스페셜천안신방점 1
홈플러스스페셜청주성안점 2

In [40]:
a = ["홈플러스스페셜"+i[2:] for i in hp.iloc[119:139,0] if len(i) >= 5]

In [41]:
a

['홈플러스스페셜남현점',
 '홈플러스스페셜오리점',
 '홈플러스스페셜고잔점',
 '홈플러스스페셜동탄점',
 '홈플러스스페셜연수점',
 '홈플러스스페셜하남점',
 '홈플러스스페셜풍덕점',
 '홈플러스스페셜완산점',
 '홈플러스스페셜신방점',
 '홈플러스스페셜성안점']

In [42]:
count = []
for i in a:
    try:
        plus_url = urllib.parse.quote_plus('"{}"'.format(i))
        url = "https://search.naver.com/search.naver?where=post&query={}&st=sim&sm=tab_opt&date_from=20030520&date_to=20200708&date_option=7&srchby=all&dup_remove=1&post_blogurl=&post_blogurl_without=&nso=so%3Ar%2Ca%3Aall%2Cp%3A1y".format(plus_url)

        res = req.urlopen(url).read()
        soup = BeautifulSoup(res, 'html.parser')
        title = soup.find(class_="title_num")
        
        count.append(title.text.split("/")[1].strip()[:-1])
        print(i,count[-1])
    except:
        count.append(0)
        print(i,count[-1])

홈플러스스페셜남현점 3
홈플러스스페셜오리점 0
홈플러스스페셜고잔점 0
홈플러스스페셜동탄점 1
홈플러스스페셜연수점 0
홈플러스스페셜하남점 0
홈플러스스페셜풍덕점 0
홈플러스스페셜완산점 0
홈플러스스페셜신방점 0
홈플러스스페셜성안점 0