In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
from matplotlib import font_manager, rc
sns.set(style='darkgrid')


rc('font', family='AppleGothic')
matplotlib.rcParams['axes.unicode_minus'] = False
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [3]:
emart = pd.read_excel("../../데이터/emart(최종.ver1).xlsx",usecols="A")
emart

      지점명
0    청계천점
1     용산점
2     창동점
3     미아점
4    하월곡점
..    ...
160   시지점
161   부평점
162   덕이점
163  서부산점
164   상무점

[165 rows x 1 columns]

In [4]:
a = ["이마트"+i for i in emart.지점명]

In [5]:
from bs4 import BeautifulSoup
import urllib.request as req
import urllib.parse
import sys
import io

In [10]:
count = []
for i in a:
    try:
        plus_url = urllib.parse.quote_plus('"{}"'.format(i))
        url = "https://search.naver.com/search.naver?where=post&query={}&st=sim&sm=tab_opt&date_from=20030520&date_to=20200708&date_option=7&srchby=all&dup_remove=1&post_blogurl=&post_blogurl_without=&nso=so%3Ar%2Ca%3Aall%2Cp%3A1y".format(plus_url)

        res = req.urlopen(url).read()
        soup = BeautifulSoup(res, 'html.parser')
        title = soup.find(class_="title_num")
        
        count.append(title.text.split("/")[1].strip()[:-1])
        print(i,count[-1])
    except:
        count.append(0)
        print(i,count[-1])

이마트청계천점 441
이마트용산점 264
이마트창동점 314
이마트미아점 924
이마트하월곡점 207
이마트월계점 704
이마트묵동점 150
이마트상봉점 219
이마트성수점 835
이마트왕십리점 155
이마트자양점 285
이마트명일점 377
이마트천호점 209
이마트가든파이브점 67
이마트양재점 239
이마트역삼점 362
이마트수서점 436
이마트이수점 160
이마트가양점 552
이마트목동점 496
이마트신월점 198
이마트여의도점 117
이마트영등포점 312
이마트구로점 263
이마트신도림점 169
이마트수색점 185
이마트은평점 960
이마트마포점 68
이마트동백점 665
이마트보라점 87
이마트수지점 303
이마트용인점 149
이마트죽전점 835
이마트흥덕점 213
이마트일산점 77
이마트킨텍스점 344
이마트풍산점 994
이마트화정점 341
이마트남양주점 142
이마트다산점 169
이마트별내점 191
이마트진접점 93
이마트광교점 230
이마트서수원점 310
이마트수원점 658
이마트광명소하점 96
이마트부천점 489
이마트중동점 695
이마트분당점 176
이마트성남점 343
이마트안양점 202
이마트평촌점 183
이마트파주점 119
이마트파주운정점 99
이마트동탄점 442
이마트화성봉담점 91
이마트경기광주점 66
이마트고잔점 284
이마트과천점 314
이마트김포한강점 184
이마트산본점 349
이마트시화점 266
이마트안성점 84
이마트양주점 185
이마트여주점 198
이마트오산점 223
이마트의왕점 268
이마트의정부점 126
이마트이천점 83
이마트평택점 287
이마트포천점 62
이마트하남점 313
이마트검단점 223
이마트계양점 539
이마트동인천점 296
이마트연수점 556
이마트인천공항점 130
이마트강릉점 140
이마트동해점 51
이마트속초점 151
이마트원주점 58
이마트춘천점 135
이마트태백점 26
이마트대전터미널점 63
이마트둔산점 142
이마트세종점 217
이마트제천점 37
이마트청주점 212
이마트충주점 99
이마트천안점 248
이마트천안서북점 279
이마트천안터미널점 61
이마트펜타포트점 178
이마트보령점 38
이마트서산점 97
이마트아산점 243
이마트금정점 444
이마트문현점 372
이마트사상점 179
이마트연제점 570
이마트해운대점 263
이마트감삼점 247
이마트성서점 175
이마트월배점 488
이마트반야월점 1,160
이마트칠성점 763
이마트만촌점 469
이마트울산점 281
이마트경산점 223
이마트구미점 84
이마트동구미점 67
이마트김천점 27
이마트상주점 29
이마트안동점 41
이마트영천점 173
이마트포항점 132
이마트포항이동점 36
이마트김해점 63
이마트마산점 27
이마트사천점 19
이마트양산점 143
이마트진주점 48
이마트창원점 91
이마트통영점 83
이마트광산점 159
이마트광주점 138
이마트동광주점 85
이마트봉선점 84
이마트군산점 335
이마트남원점 7
이마트익산점 26
이마트전주점 81
이마트목포점 41
이마트순천점 84
이마트여수점 52
이마트서귀포점 189
이마트신제주점 190
이마트제주점 96
이마트구성점 28
이마트송림점 21
이마트안산점 7
이마트수원신동점 0
이마트킨텍스점 344
이마트SF하남점 0
이마트고양점 0
이마트군포점 4
이마트김포점 8
이마트부천점 489
이마트위례점 4
이마트월계점 704
이마트월평점 11
이마트서면점 12
이마트비산점 64
이마트천안아산점 9
이마트양산점 143
이마트명지점 12
이마트안산점(공단점) 0
이마트공항점 19
이마트장안점 6
이마트학성점 2
이마트시지점 12
이마트부평점 136
이마트덕이점 122
이마트서부산점 53
이마트상무점 65

In [11]:
len(count)

165

In [12]:
count

['441',
 '264',
 '314',
 '924',
 '207',
 '704',
 '150',
 '219',
 '835',
 '155',
 '285',
 '377',
 '209',
 '67',
 '239',
 '362',
 '436',
 '160',
 '552',
 '496',
 '198',
 '117',
 '312',
 '263',
 '169',
 '185',
 '960',
 '68',
 '665',
 '87',
 '303',
 '149',
 '835',
 '213',
 '77',
 '344',
 '994',
 '341',
 '142',
 '169',
 '191',
 '93',
 '230',
 '310',
 '658',
 '96',
 '489',
 '695',
 '176',
 '343',
 '202',
 '183',
 '119',
 '99',
 '442',
 '91',
 '66',
 '284',
 '314',
 '184',
 '349',
 '266',
 '84',
 '185',
 '198',
 '223',
 '268',
 '126',
 '83',
 '287',
 '62',
 '313',
 '223',
 '539',
 '296',
 '556',
 '130',
 '140',
 '51',
 '151',
 '58',
 '135',
 '26',
 '63',
 '142',
 '217',
 '37',
 '212',
 '99',
 '248',
 '279',
 '61',
 '178',
 '38',
 '97',
 '243',
 '444',
 '372',
 '179',
 '570',
 '263',
 '247',
 '175',
 '488',
 '1,160',
 '763',
 '469',
 '281',
 '223',
 '84',
 '67',
 '27',
 '29',
 '41',
 '173',
 '132',
 '36',
 '63',
 '27',
 '19',
 '143',
 '48',
 '91',
 '83',
 '159',
 '138',
 '85',
 '84',
 '335',
 '7',
 '26',
 '81',
 '41',
 '84',
 '52',
 '189',
 '190',
 '96',
 '28',
 '21',
 '7',
 0,
 '344',
 0,
 0,
 '4',
 '8',
 '489',
 '4',
 '704',
 '11',
 '12',
 '64',
 '9',
 '143',
 '12',
 0,
 '19',
 '6',
 '2',
 '12',
 '136',
 '122',
 '53',
 '65']

In [13]:
emart["블로그게시물(1년)"] = count

In [14]:
emart.to_excel("../../데이터/emart(블로그게시물(1년).xlsx",encoding="cp949",index=False)

In [22]:
a =["이마트트레이더스"+i for i in emart.loc[138:155,"지점명"]]

In [23]:
a

['이마트트레이더스구성점',
 '이마트트레이더스송림점',
 '이마트트레이더스안산점',
 '이마트트레이더스수원신동점',
 '이마트트레이더스킨텍스점',
 '이마트트레이더스SF하남점',
 '이마트트레이더스고양점',
 '이마트트레이더스군포점',
 '이마트트레이더스김포점',
 '이마트트레이더스부천점',
 '이마트트레이더스위례점',
 '이마트트레이더스월계점',
 '이마트트레이더스월평점',
 '이마트트레이더스서면점',
 '이마트트레이더스비산점',
 '이마트트레이더스천안아산점',
 '이마트트레이더스양산점',
 '이마트트레이더스명지점']

In [24]:
count = []
for i in a:
    try:
        plus_url = urllib.parse.quote_plus('"{}"'.format(i))
        url = "https://search.naver.com/search.naver?where=post&query={}&st=sim&sm=tab_opt&date_from=20030520&date_to=20200708&date_option=7&srchby=all&dup_remove=1&post_blogurl=&post_blogurl_without=&nso=so%3Ar%2Ca%3Aall%2Cp%3A1y".format(plus_url)

        res = req.urlopen(url).read()
        soup = BeautifulSoup(res, 'html.parser')
        title = soup.find(class_="title_num")
        
        count.append(title.text.split("/")[1].strip()[:-1])
        print(i,count[-1])
    except:
        count.append(0)
        print(i,count[-1])

이마트트레이더스구성점 340
이마트트레이더스송림점 380
이마트트레이더스안산점 73
이마트트레이더스수원신동점 241
이마트트레이더스킨텍스점 158
이마트트레이더스SF하남점 20
이마트트레이더스고양점 50
이마트트레이더스군포점 334
이마트트레이더스김포점 417
이마트트레이더스부천점 151
이마트트레이더스위례점 150
이마트트레이더스월계점 463
이마트트레이더스월평점 235
이마트트레이더스서면점 321
이마트트레이더스비산점 199
이마트트레이더스천안아산점 334
이마트트레이더스양산점 100
이마트트레이더스명지점 95