In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
from matplotlib import font_manager, rc
sns.set(style='darkgrid')


rc('font', family='AppleGothic')
matplotlib.rcParams['axes.unicode_minus'] = False
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [11]:
lotte = ["해운대점", "서대구점","관악점","와스타디움점","항동점","반여점","김포점","동대전점","양주점","천안아산점","의정부점","천안점"]

In [12]:
a = ["롯데마트"+i for i in lotte]

In [13]:
a

['롯데마트해운대점',
 '롯데마트서대구점',
 '롯데마트관악점',
 '롯데마트와스타디움점',
 '롯데마트항동점',
 '롯데마트반여점',
 '롯데마트김포점',
 '롯데마트동대전점',
 '롯데마트양주점',
 '롯데마트천안아산점',
 '롯데마트의정부점',
 '롯데마트천안점']

In [14]:
import requests 
from bs4 import BeautifulSoup 
from selenium import webdriver as wd 
from selenium.webdriver.common.by import By 
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions as EC 
import time 
import re

In [15]:
from selenium.webdriver.chrome.options import Options

chrome_options = Options()

chrome_options.add_argument("--headless")

In [16]:
count = []

for i in a:
    try:
        url = "https://www.instagram.com/explore/tags/{}/".format(i)

        driver = wd.Chrome(chrome_options=chrome_options,executable_path="../../../../study/html/chromedriver")
        driver.get(url)
        time.sleep(5)
        data = driver.find_element_by_class_name('g47SY').text
        count.append(data)
        print(i)
    except:
        print("실패: ",i)
        count.append("fail")

실패:  롯데마트해운대점
실패:  롯데마트서대구점
실패:  롯데마트관악점
실패:  롯데마트와스타디움점
실패:  롯데마트항동점
롯데마트반여점
롯데마트김포점
실패:  롯데마트동대전점
롯데마트양주점
롯데마트천안아산점
롯데마트의정부점
롯데마트천안점

In [17]:
len(count)

12

In [18]:
count

['fail',
 'fail',
 'fail',
 'fail',
 'fail',
 '1',
 '12',
 'fail',
 '317',
 '12',
 '67',
 '165']

In [30]:
lot = pd.DataFrame()

In [31]:
lot["지점명"] = lotte

In [33]:
lot["게시물수"] = count

In [34]:
lot

       지점명 게시물수
0     서울역점  509
1      삼양점   66
2      중계점  756
3     청량리점  166
4      강변점   61
..     ...  ...
125    수지점  332
126    양주점  317
127  천안아산점   12
128   의정부점   66
129    천안점  165

[130 rows x 2 columns]

In [35]:
lot.to_excel("../../../../Downloads/롯데마트자료.xlsx",encoding="cp949",index=False)