In [1]:
import pandas as pd

In [4]:
emart = pd.read_excel("../../데이터/이마트_매출추가데이터(영업비율삭제,2020영업이익).xlsx",usecols="A:J,M")
emart = emart[["지점명","주소","3km내 이마트","3km내 경쟁 대형마트","3km내 창고형 마트","부지 면적","부지 공시지가","주차 시설",
               "대중 교통","점포형태"]]

In [5]:
emart

,지점명,주소,3km내 이마트,3km내 경쟁 대형마트,3km내 창고형 마트,부지 면적,부지 공시지가,주차 시설,대중 교통,점포형태
0,청계천점,대한민국 서울특별시 중구 황학동 청계천로 400,1,3,0,96410.82,861912730800,1000,0,0
1,용산점,대한민국 서울특별시 용산구 한강로3가 한강대로23길 55,1,0,0,42405.64,641173276800,2100,2,0
2,창동점,대한민국 서울특별시 도봉구 창동 노해로65길 4,1,4,0,12776.00,90530736000,159,1,0
3,미아점,대한민국 서울특별시 성북구 길음동 도봉로 17,2,2,0,20690.71,316154048800,195,1,0
4,하월곡점,대한민국 서울특별시 성북구 하월곡동 230,2,2,0,75041.00,479511990000,760,0,0
...,...,...,...,...,...,...,...,...,...,...
160,시지점,대구광역시 수성구 고산로 101 (신매동 566-3),1,2,0,42302.00,162058962000,984,0,2
161,부평점,인천광역시 부평구 주부토로 241 (갈산동 171),1,8,0,6600.00,12566400000,543,0,2
162,덕이점,고양시 일산서구 경의로 798 (덕이동 205),2,2,1,31948.83,73642053150,676,0,2
163,서부산점,부산광역시 사상구 낙동대로 910 (감전동),1,2,0,71773.50,133929351000,984,0,2
164,상무점,광주광역시 서구 운천로 263 (치평동),1,1,0,45416.28,143242947120,543,0,2

In [6]:
emart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   지점명           165 non-null    object
 1   주소            165 non-null    object
 2   3km내 이마트      165 non-null    int64
 3   3km내 경쟁 대형마트  165 non-null    int64
 4   3km내 창고형 마트   165 non-null    int64
 5   부지 면적         165 non-null    float64
 6   부지 공시지가       165 non-null    int64
 7   주차 시설         165 non-null    int64
 8   대중 교통         165 non-null    int64
 9   점포형태          165 non-null    int64
dtypes: float64(1), int64(7), object(2)
memory usage: 13.0+ KB

In [7]:
emart.corr()

,3km내 이마트,3km내 경쟁 대형마트,3km내 창고형 마트,부지 면적,부지 공시지가,주차 시설,대중 교통,점포형태
3km내 이마트,1.000000,0.437344,0.331369,0.221548,0.542910,0.147751,0.243405,0.284842
3km내 경쟁 대형마트,0.437344,1.000000,0.395589,0.122845,0.257606,0.101495,0.105344,0.203525
3km내 창고형 마트,0.331369,0.395589,1.000000,0.216825,0.339972,0.111612,0.045727,-0.064245
부지 면적,0.221548,0.122845,0.216825,1.000000,0.676661,0.865229,0.046110,0.199094
부지 공시지가,0.542910,0.257606,0.339972,0.676661,1.000000,0.533012,0.165127,-0.003719
주차 시설,0.147751,0.101495,0.111612,0.865229,0.533012,1.000000,0.125591,0.146183
대중 교통,0.243405,0.105344,0.045727,0.046110,0.165127,0.125591,1.000000,-0.114887
점포형태,0.284842,0.203525,-0.064245,0.199094,-0.003719,0.146183,-0.114887,1.000000

In [8]:
emart.loc[emart["점포형태"]!=1,:].corr()

,3km내 이마트,3km내 경쟁 대형마트,3km내 창고형 마트,부지 면적,부지 공시지가,주차 시설,대중 교통,점포형태
3km내 이마트,1.000000,0.437643,0.375047,0.362592,0.619008,0.208841,0.200260,0.288813
3km내 경쟁 대형마트,0.437643,1.000000,0.404050,0.276901,0.304289,0.248422,0.102274,0.206663
3km내 창고형 마트,0.375047,0.404050,1.000000,0.331395,0.356250,0.138178,0.064395,-0.032843
부지 면적,0.362592,0.276901,0.331395,1.000000,0.703264,0.635017,0.062028,-0.025236
부지 공시지가,0.619008,0.304289,0.356250,0.703264,1.000000,0.477943,0.207894,-0.098621
주차 시설,0.208841,0.248422,0.138178,0.635017,0.477943,1.000000,0.180250,-0.090103
대중 교통,0.200260,0.102274,0.064395,0.062028,0.207894,0.180250,1.000000,-0.212655
점포형태,0.288813,0.206663,-0.032843,-0.025236,-0.098621,-0.090103,-0.212655,1.000000

In [9]:
emart.loc[emart["점포형태"]!=2,:].corr()

,3km내 이마트,3km내 경쟁 대형마트,3km내 창고형 마트,부지 면적,부지 공시지가,주차 시설,대중 교통,점포형태
3km내 이마트,1.000000,0.438785,0.344211,0.246534,0.596841,0.175313,0.315055,0.138028
3km내 경쟁 대형마트,0.438785,1.000000,0.440394,0.165599,0.307548,0.131864,0.156770,0.094583
3km내 창고형 마트,0.344211,0.440394,1.000000,0.221455,0.347073,0.116063,0.041877,-0.074750
부지 면적,0.246534,0.165599,0.221455,1.000000,0.676830,0.867906,0.037142,0.409199
부지 공시지가,0.596841,0.307548,0.347073,0.676830,1.000000,0.529136,0.148364,0.134425
주차 시설,0.175313,0.131864,0.116063,0.867906,0.529136,1.000000,0.112249,0.362732
대중 교통,0.315055,0.156770,0.041877,0.037142,0.148364,0.112249,1.000000,0.090274
점포형태,0.138028,0.094583,-0.074750,0.409199,0.134425,0.362732,0.090274,1.000000

In [16]:
emart["65세이상"] = 0
emart["65세이상경제활동인구"] = 0
emart["총인구수"] = 0
emart["경제활동인구"] = 0
emart["1인당지방세부담액(천원)"] = 0
emart["소멸위기지역"] = 0
emart["1인가구구성원수"] = 0
emart["다인가구구성원수"] = 0

In [17]:
emart

,지점명,주소,3km내 이마트,3km내 경쟁 대형마트,3km내 창고형 마트,부지 면적,부지 공시지가,주차 시설,대중 교통,2020실제영업이익(백만원),점포형태,65세이상,65세이상경제활동인구,총인구수,경제활동인구,1인당지방세부담액(천원),소멸위기지역,1인가구구성원수,다인가구구성원수
0,청계천점,대한민국 서울특별시 중구 황학동 청계천로 400,1,3,0,96410.82,861912730800,1000,0,2864.374860,0,0,0,0,0,0,0,0,0
1,용산점,대한민국 서울특별시 용산구 한강로3가 한강대로23길 55,1,0,0,42405.64,641173276800,2100,2,1259.875698,0,0,0,0,0,0,0,0,0
2,창동점,대한민국 서울특별시 도봉구 창동 노해로65길 4,1,4,0,12776.00,90530736000,159,1,2518.917716,0,0,0,0,0,0,0,0,0
3,미아점,대한민국 서울특별시 성북구 길음동 도봉로 17,2,2,0,20690.71,316154048800,195,1,1735.196529,0,0,0,0,0,0,0,0,0
4,하월곡점,대한민국 서울특별시 성북구 하월곡동 230,2,2,0,75041.00,479511990000,760,0,2229.475424,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,시지점,대구광역시 수성구 고산로 101 (신매동 566-3),1,2,0,42302.00,162058962000,984,0,1053.171844,2,0,0,0,0,0,0,0,0
161,부평점,인천광역시 부평구 주부토로 241 (갈산동 171),1,8,0,6600.00,12566400000,543,0,209.458233,2,0,0,0,0,0,0,0,0
162,덕이점,고양시 일산서구 경의로 798 (덕이동 205),2,2,1,31948.83,73642053150,676,0,1054.340529,2,0,0,0,0,0,0,0,0
163,서부산점,부산광역시 사상구 낙동대로 910 (감전동),1,2,0,71773.50,133929351000,984,0,1869.793588,2,0,0,0,0,0,0,0,0
164,상무점,광주광역시 서구 운천로 263 (치평동),1,1,0,45416.28,143242947120,543,0,2162.304280,2,0,0,0,0,0,0,0,0

In [8]:
pop = pd.read_excel("../데이터/관련자료/관련자료 전처리(1인,다인가구 추가).xlsx")
pop

,시도,세부사항,65세이상,65세이상경제활동인구,총인구수,경제활동인구,1인당지방세부담액(천원),소멸위기지역,1인가구구성원수,다인가구구성원수
0,서울특별시,서울특별시 종로구,27924,8125.884,150623,94440.621,4935.76,0,25326,125297
1,서울특별시,서울특별시 중구,23620,6873.420,126120,79077.240,10088.84,0,20803,105317
2,서울특별시,서울특별시 용산구,39123,11384.793,229393,143829.411,3261.61,0,34240,195153
3,서울특별시,서울특별시 성동구,44769,13027.779,297820,186733.140,1613.09,0,40706,257114
4,서울특별시,서울특별시 광진구,49052,14274.132,349800,219324.600,997.41,0,56337,293463
...,...,...,...,...,...,...,...,...,...,...
245,경상남도,함양군,13022,4948.360,39353,24792.390,942.80,1,6319,33034
246,경상남도,거창군,16879,6414.020,61729,38889.270,786.02,0,8331,53398
247,경상남도,합천군,17353,6594.140,44621,28111.230,681.08,1,7917,36704
248,제주특별자치도,제주시,68551,35715.071,489734,335467.790,1674.91,0,52189,437545
249,제주특별자치도,서귀포시,34456,17951.576,181059,124025.415,1904.62,0,21061,159998

In [9]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   시도             250 non-null    object
 1   세부사항           250 non-null    object
 2   65세이상          250 non-null    int64
 3   65세이상경제활동인구    250 non-null    float64
 4   총인구수           250 non-null    int64
 5   경제활동인구         250 non-null    float64
 6   1인당지방세부담액(천원)  250 non-null    float64
 7   소멸위기지역         250 non-null    int64
 8   1인가구구성원수       250 non-null    int64
 9   다인가구구성원수       250 non-null    int64
dtypes: float64(3), int64(5), object(2)
memory usage: 19.7+ KB

In [10]:
pop.corr()

,65세이상,65세이상경제활동인구,총인구수,경제활동인구,1인당지방세부담액(천원),소멸위기지역,1인가구구성원수,다인가구구성원수
65세이상,1.000000,0.938320,0.929181,0.922867,0.021075,-0.445372,0.550360,0.536340
65세이상경제활동인구,0.938320,1.000000,0.843039,0.844810,-0.020845,-0.399231,0.501245,0.466253
총인구수,0.929181,0.843039,1.000000,0.998653,0.082264,-0.487870,0.638005,0.656914
경제활동인구,0.922867,0.844810,0.998653,1.000000,0.084679,-0.485696,0.641599,0.660967
1인당지방세부담액(천원),0.021075,-0.020845,0.082264,0.084679,1.000000,-0.194684,0.050233,0.062842
소멸위기지역,-0.445372,-0.399231,-0.487870,-0.485696,-0.194684,1.000000,-0.408888,-0.401482
1인가구구성원수,0.550360,0.501245,0.638005,0.641599,0.050233,-0.408888,1.000000,0.951046
다인가구구성원수,0.536340,0.466253,0.656914,0.660967,0.062842,-0.401482,0.951046,1.000000

In [22]:
count = 0
c= 0
for i in range(len(pop)):
    for j in range(len(emart)):
        if pop.loc[i,"세부사항"] in emart.loc[j,"주소"]:
            if i == 111 and ("남양주" in emart.loc[j,"주소"]):
                c+=1
                continue
            emart.loc[j,"65세이상"] = pop.loc[i,"65세이상"]
            emart.loc[j,"65세이상경제활동인구"] = pop.loc[i,"65세이상경제활동인구"]
            emart.loc[j,"총인구수"] = pop.loc[i,"총인구수"]
            emart.loc[j,"경제활동인구"] = pop.loc[i,"경제활동인구"]
            emart.loc[j,"1인당지방세부담액(천원)"] = pop.loc[i,"1인당지방세부담액(천원)"]
            emart.loc[j,"소멸위기지역"] = pop.loc[i,"소멸위기지역"]
            emart.loc[j,"1인가구구성원수"] = pop.loc[i,"1인가구구성원수"]
            emart.loc[j,"다인가구구성원수"] = pop.loc[i,"다인가구구성원수"]
            count+=1
count

165

In [23]:
c

4

In [21]:
emart

,지점명,주소,3km내 이마트,3km내 경쟁 대형마트,3km내 창고형 마트,부지 면적,부지 공시지가,주차 시설,대중 교통,2020실제영업이익(백만원),점포형태,65세이상,65세이상경제활동인구,총인구수,경제활동인구,1인당지방세부담액(천원),소멸위기지역,1인가구구성원수,다인가구구성원수
0,청계천점,대한민국 서울특별시 중구 황학동 청계천로 400,1,3,0,96410.82,861912730800,1000,0,2864.374860,0,23620,6873.420,126120,79077.240,10088.84,0,20803,105317
1,용산점,대한민국 서울특별시 용산구 한강로3가 한강대로23길 55,1,0,0,42405.64,641173276800,2100,2,1259.875698,0,39123,11384.793,229393,143829.411,3261.61,0,34240,195153
2,창동점,대한민국 서울특별시 도봉구 창동 노해로65길 4,1,4,0,12776.00,90530736000,159,1,2518.917716,0,60530,17614.230,330149,207003.423,539.75,0,30848,299301
3,미아점,대한민국 서울특별시 성북구 길음동 도봉로 17,2,2,0,20690.71,316154048800,195,1,1735.196529,0,72510,21100.410,442148,277226.796,779.74,0,55136,387012
4,하월곡점,대한민국 서울특별시 성북구 하월곡동 230,2,2,0,75041.00,479511990000,760,0,2229.475424,0,72510,21100.410,442148,277226.796,779.74,0,55136,387012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,시지점,대구광역시 수성구 고산로 101 (신매동 566-3),1,2,0,42302.00,162058962000,984,0,1053.171844,2,65173,18900.170,427436,250477.496,1098.98,0,35853,391583
161,부평점,인천광역시 부평구 주부토로 241 (갈산동 171),1,8,0,6600.00,12566400000,543,0,209.458233,2,71494,23092.562,503946,326557.008,149.36,0,48607,455339
162,덕이점,고양시 일산서구 경의로 798 (덕이동 205),2,2,1,31948.83,73642053150,676,0,1054.340529,2,36704,9946.784,303555,192453.870,1198.70,0,84595,991584
163,서부산점,부산광역시 사상구 낙동대로 910 (감전동),1,2,0,71773.50,133929351000,984,0,1869.793588,2,37716,10749.060,216083,124679.891,769.06,0,27709,188374
164,상무점,광주광역시 서구 운천로 263 (치평동),1,1,0,45416.28,143242947120,543,0,2162.304280,2,41429,13257.280,299850,184107.900,942.95,0,38197,261653

In [25]:
count = 0
c= 0
for i in range(len(pop)):
    for j in range(len(emart)):
        if pop.loc[i,"세부사항"] in emart.loc[j,"주소"]:
            if i == 111 and ("남양주" in emart.loc[j,"주소"]):
                c+=1
                print(j)
                continue
            count+=1
count

38
39
40
41

165

In [27]:
emart.iloc[38:42,:]

,지점명,주소,3km내 이마트,3km내 경쟁 대형마트,3km내 창고형 마트,부지 면적,부지 공시지가,주차 시설,대중 교통,2020실제영업이익(백만원),점포형태,65세이상,65세이상경제활동인구,총인구수,경제활동인구,1인당지방세부담액(천원),소멸위기지역,1인가구구성원수,다인가구구성원수
38,남양주점,대한민국 경기도 남양주시 호평동 늘을2로 27,0,0,0,43851.25,275385850000,660,1,1447.131245,0,96736,26215.456,706444,447885.496,1073.13,0,18364,206705
39,다산점,대한민국 경기도 남양주시 도농동 도농로 24,0,1,0,35091.10,140083671200,650,1,1158.038305,0,96736,26215.456,706444,447885.496,1073.13,0,18364,206705
40,별내점,대한민국 경기도 남양주시 별내동 순화궁로 167,0,0,0,39569.69,144548077570,581,1,1305.835860,0,96736,26215.456,706444,447885.496,1073.13,0,18364,206705
41,진접점,대한민국 경기도 남양주시 진접읍 금강로유연들1길 154,0,1,0,38344.43,69518451590,531,0,1265.401162,0,96736,26215.456,706444,447885.496,1073.13,0,18364,206705

In [28]:
emart.corr()

,3km내 이마트,3km내 경쟁 대형마트,3km내 창고형 마트,부지 면적,부지 공시지가,주차 시설,대중 교통,2020실제영업이익(백만원),점포형태,65세이상,65세이상경제활동인구,총인구수,경제활동인구,1인당지방세부담액(천원),소멸위기지역,1인가구구성원수,다인가구구성원수
3km내 이마트,1.000000,0.437344,0.331369,0.221548,0.542910,0.147751,0.243405,0.105538,0.284842,0.253728,0.150542,0.167973,0.158395,0.002428,-0.046767,0.131261,0.068995
3km내 경쟁 대형마트,0.437344,1.000000,0.395589,0.122845,0.257606,0.101495,0.105344,-0.028469,0.203525,0.179773,0.098233,0.176391,0.165964,-0.194868,-0.089714,0.277375,0.241661
3km내 창고형 마트,0.331369,0.395589,1.000000,0.216825,0.339972,0.111612,0.045727,0.085660,-0.064245,0.049186,-0.046647,0.108963,0.108813,0.028848,-0.038313,0.151282,0.184323
부지 면적,0.221548,0.122845,0.216825,1.000000,0.676661,0.865229,0.046110,0.669692,0.199094,0.052253,-0.048775,0.089817,0.084846,0.105685,-0.059608,0.110103,0.169243
부지 공시지가,0.542910,0.257606,0.339972,0.676661,1.000000,0.533012,0.165127,0.439445,-0.003719,0.202563,0.058689,0.157317,0.149832,0.270104,-0.063568,0.112152,0.108386
주차 시설,0.147751,0.101495,0.111612,0.865229,0.533012,1.000000,0.125591,0.580719,0.146183,0.048645,-0.005028,0.087013,0.081660,0.077185,-0.042027,0.110030,0.140244
대중 교통,0.243405,0.105344,0.045727,0.046110,0.165127,0.125591,1.000000,-0.042421,-0.114887,0.200345,0.152972,0.142362,0.133659,-0.008707,-0.066997,0.053505,0.008590
2020실제영업이익(백만원),0.105538,-0.028469,0.085660,0.669692,0.439445,0.580719,-0.042421,1.000000,0.110954,0.065592,0.169594,0.086586,0.108194,0.143657,-0.027683,0.064976,0.115043
점포형태,0.284842,0.203525,-0.064245,0.199094,-0.003719,0.146183,-0.114887,0.110954,1.000000,0.002723,-0.056766,0.010235,0.001857,-0.090235,-0.032216,0.055833,0.062103
65세이상,0.253728,0.179773,0.049186,0.052253,0.202563,0.048645,0.200345,0.065592,0.002723,1.000000,0.895979,0.884714,0.872494,-0.147061,-0.071162,0.216933,0.227891
65세이상경제활동인구,0.150542,0.098233,-0.046647,-0.048775,0.058689,-0.005028,0.152972,0.169594,-0.056766,0.895979,1.000000,0.748932,0.751027,-0.182611,-0.030647,0.148703,0.110276
총인구수,0.167973,0.176391,0.108963,0.089817,0.157317,0.087013,0.142362,0.086586,0.010235,0.884714,0.748932,1.000000,0.997615,-0.058365,-0.119976,0.400369,0.435363
경제활동인구,0.158395,0.165964,0.108813,0.084846,0.149832,0.081660,0.133659,0.108194,0.001857,0.872494,0.751027,0.997615,1.000000,-0.052306,-0.118806,0.405321,0.440581
1인당지방세부담액(천원),0.002428,-0.194868,0.028848,0.105685,0.270104,0.077185,-0.008707,0.143657,-0.090235,-0.147061,-0.182611,-0.058365,-0.052306,1.000000,-0.041700,-0.061458,-0.039461
소멸위기지역,-0.046767,-0.089714,-0.038313,-0.059608,-0.063568,-0.042027,-0.066997,-0.027683,-0.032216,-0.071162,-0.030647,-0.119976,-0.118806,-0.041700,1.000000,-0.093575,-0.094448
1인가구구성원수,0.131261,0.277375,0.151282,0.110103,0.112152,0.110030,0.053505,0.064976,0.055833,0.216933,0.148703,0.400369,0.405321,-0.061458,-0.093575,1.000000,0.908806
다인가구구성원수,0.068995,0.241661,0.184323,0.169243,0.108386,0.140244,0.008590,0.115043,0.062103,0.227891,0.110276,0.435363,0.440581,-0.039461,-0.094448,0.908806,1.000000

In [29]:
emart.loc[emart["점포형태"]!=1,:].corr()

,3km내 이마트,3km내 경쟁 대형마트,3km내 창고형 마트,부지 면적,부지 공시지가,주차 시설,대중 교통,2020실제영업이익(백만원),점포형태,65세이상,65세이상경제활동인구,총인구수,경제활동인구,1인당지방세부담액(천원),소멸위기지역,1인가구구성원수,다인가구구성원수
3km내 이마트,1.000000,0.437643,0.375047,0.362592,0.619008,0.208841,0.200260,0.129606,0.288813,0.270992,0.151132,0.181075,0.171654,0.009961,-0.047518,0.155453,0.106887
3km내 경쟁 대형마트,0.437643,1.000000,0.404050,0.276901,0.304289,0.248422,0.102274,0.002398,0.206663,0.201088,0.112006,0.177969,0.166704,-0.177091,-0.093545,0.236097,0.225729
3km내 창고형 마트,0.375047,0.404050,1.000000,0.331395,0.356250,0.138178,0.064395,0.071930,-0.032843,0.075930,-0.031903,0.126812,0.126193,0.025658,-0.041322,0.134807,0.176168
부지 면적,0.362592,0.276901,0.331395,1.000000,0.703264,0.635017,0.062028,0.347531,-0.025236,0.105036,0.000091,0.134045,0.123066,0.048180,-0.084737,0.204656,0.199936
부지 공시지가,0.619008,0.304289,0.356250,0.703264,1.000000,0.477943,0.207894,0.281412,-0.098621,0.226007,0.081355,0.159836,0.150743,0.261521,-0.065490,0.128812,0.092704
주차 시설,0.208841,0.248422,0.138178,0.635017,0.477943,1.000000,0.180250,0.167812,-0.090103,0.058409,0.032501,0.113266,0.101182,0.041513,-0.057689,0.205534,0.155407
대중 교통,0.200260,0.102274,0.064395,0.062028,0.207894,0.180250,1.000000,-0.058007,-0.212655,0.212603,0.162200,0.158981,0.151415,0.008491,-0.068916,0.036319,0.002796
2020실제영업이익(백만원),0.129606,0.002398,0.071930,0.347531,0.281412,0.167812,-0.058007,1.000000,-0.040513,0.096398,0.285706,0.101678,0.129984,0.102997,-0.026375,0.091108,0.091422
점포형태,0.288813,0.206663,-0.032843,-0.025236,-0.098621,-0.090103,-0.212655,-0.040513,1.000000,0.023933,-0.012248,0.007638,-0.001708,-0.117813,-0.021135,0.044529,0.022409
65세이상,0.270992,0.201088,0.075930,0.105036,0.226007,0.058409,0.212603,0.096398,0.023933,1.000000,0.886037,0.882394,0.870221,-0.126450,-0.077477,0.201699,0.215732
65세이상경제활동인구,0.151132,0.112006,-0.031903,0.000091,0.081355,0.032501,0.162200,0.285706,-0.012248,0.886037,1.000000,0.736729,0.740302,-0.166007,-0.035473,0.135444,0.099184
총인구수,0.181075,0.177969,0.126812,0.134045,0.159836,0.113266,0.158981,0.101678,0.007638,0.882394,0.736729,1.000000,0.997505,-0.041147,-0.126922,0.381346,0.422265
경제활동인구,0.171654,0.166704,0.126193,0.123066,0.150743,0.101182,0.151415,0.129984,-0.001708,0.870221,0.740302,0.997505,1.000000,-0.034729,-0.125927,0.386474,0.426966
1인당지방세부담액(천원),0.009961,-0.177091,0.025658,0.048180,0.261521,0.041513,0.008491,0.102997,-0.117813,-0.126450,-0.166007,-0.041147,-0.034729,1.000000,-0.042770,-0.035441,-0.024602
소멸위기지역,-0.047518,-0.093545,-0.041322,-0.084737,-0.065490,-0.057689,-0.068916,-0.026375,-0.021135,-0.077477,-0.035473,-0.126922,-0.125927,-0.042770,1.000000,-0.100423,-0.100500
1인가구구성원수,0.155453,0.236097,0.134807,0.204656,0.128812,0.205534,0.036319,0.091108,0.044529,0.201699,0.135444,0.381346,0.386474,-0.035441,-0.100423,1.000000,0.907413
다인가구구성원수,0.106887,0.225729,0.176168,0.199936,0.092704,0.155407,0.002796,0.091422,0.022409,0.215732,0.099184,0.422265,0.426966,-0.024602,-0.100500,0.907413,1.000000

In [30]:
emart.loc[emart["점포형태"]!=2,:].corr()

,3km내 이마트,3km내 경쟁 대형마트,3km내 창고형 마트,부지 면적,부지 공시지가,주차 시설,대중 교통,2020실제영업이익(백만원),점포형태,65세이상,65세이상경제활동인구,총인구수,경제활동인구,1인당지방세부담액(천원),소멸위기지역,1인가구구성원수,다인가구구성원수
3km내 이마트,1.000000,0.438785,0.344211,0.246534,0.596841,0.175313,0.315055,0.125914,0.138028,0.270396,0.169758,0.178731,0.170655,0.030633,-0.043705,0.116952,0.049976
3km내 경쟁 대형마트,0.438785,1.000000,0.440394,0.165599,0.307548,0.131864,0.156770,0.003790,0.094583,0.168879,0.079720,0.170791,0.158007,-0.171313,-0.091915,0.293034,0.261063
3km내 창고형 마트,0.344211,0.440394,1.000000,0.221455,0.347073,0.116063,0.041877,0.088778,-0.074750,0.070148,-0.027480,0.119156,0.117871,0.020589,-0.039374,0.134823,0.163233
부지 면적,0.246534,0.165599,0.221455,1.000000,0.676830,0.867906,0.037142,0.669313,0.409199,0.069926,-0.034613,0.106049,0.102030,0.100739,-0.060999,0.125453,0.184033
부지 공시지가,0.596841,0.307548,0.347073,0.676830,1.000000,0.529136,0.148364,0.437066,0.134425,0.214727,0.063891,0.165719,0.158117,0.261598,-0.065925,0.124173,0.117364
주차 시설,0.175313,0.131864,0.116063,0.867906,0.529136,1.000000,0.112249,0.582903,0.362732,0.056590,-0.001197,0.095088,0.090117,0.070691,-0.043889,0.126538,0.149439
대중 교통,0.315055,0.156770,0.041877,0.037142,0.148364,0.112249,1.000000,-0.054961,0.090274,0.214901,0.159358,0.148982,0.138231,-0.033358,-0.072430,0.063661,0.011812
2020실제영업이익(백만원),0.125914,0.003790,0.088778,0.669313,0.437066,0.582903,-0.054961,1.000000,0.264283,0.071654,0.177995,0.091596,0.113992,0.136820,-0.028860,0.071236,0.123512
점포형태,0.138028,0.094583,-0.074750,0.409199,0.134425,0.362732,0.090274,0.264283,1.000000,-0.030269,-0.093690,0.008557,0.006190,0.004349,-0.029009,0.044120,0.089346
65세이상,0.270396,0.168879,0.070148,0.069926,0.214727,0.056590,0.214901,0.071654,-0.030269,1.000000,0.891890,0.883887,0.871868,-0.150275,-0.072370,0.218302,0.238140
65세이상경제활동인구,0.169758,0.079720,-0.027480,-0.034613,0.063891,-0.001197,0.159358,0.177995,-0.093690,0.891890,1.000000,0.743266,0.745542,-0.188602,-0.031479,0.151377,0.118423
총인구수,0.178731,0.170791,0.119156,0.106049,0.165719,0.095088,0.148982,0.091596,0.008557,0.883887,0.743266,1.000000,0.997730,-0.060951,-0.121608,0.400983,0.442692
경제활동인구,0.170655,0.158007,0.117871,0.102030,0.158117,0.090117,0.138231,0.113992,0.006190,0.871868,0.745542,0.997730,1.000000,-0.055499,-0.120691,0.405050,0.447127
1인당지방세부담액(천원),0.030633,-0.171313,0.020589,0.100739,0.261598,0.070691,-0.033358,0.136820,0.004349,-0.150275,-0.188602,-0.060951,-0.055499,1.000000,-0.044282,-0.067504,-0.046615
소멸위기지역,-0.043705,-0.091915,-0.039374,-0.060999,-0.065925,-0.043889,-0.072430,-0.028860,-0.029009,-0.072370,-0.031479,-0.121608,-0.120691,-0.044282,1.000000,-0.094494,-0.096219
1인가구구성원수,0.116952,0.293034,0.134823,0.125453,0.124173,0.126538,0.063661,0.071236,0.044120,0.218302,0.151377,0.400983,0.405050,-0.067504,-0.094494,1.000000,0.911006
다인가구구성원수,0.049976,0.261063,0.163233,0.184033,0.117364,0.149439,0.011812,0.123512,0.089346,0.238140,0.118423,0.442692,0.447127,-0.046615,-0.096219,0.911006,1.000000

In [10]:
emart["자동차대수"] = 0

In [11]:
emart

,지점명,주소,3km내 이마트,3km내 경쟁 대형마트,3km내 창고형 마트,부지 면적,부지 공시지가,주차 시설,대중 교통,점포형태,자동차대수
0,청계천점,대한민국 서울특별시 중구 황학동 청계천로 400,1,3,0,96410.82,861912730800,1000,0,0,0
1,용산점,대한민국 서울특별시 용산구 한강로3가 한강대로23길 55,1,0,0,42405.64,641173276800,2100,2,0,0
2,창동점,대한민국 서울특별시 도봉구 창동 노해로65길 4,1,4,0,12776.00,90530736000,159,1,0,0
3,미아점,대한민국 서울특별시 성북구 길음동 도봉로 17,2,2,0,20690.71,316154048800,195,1,0,0
4,하월곡점,대한민국 서울특별시 성북구 하월곡동 230,2,2,0,75041.00,479511990000,760,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
160,시지점,대구광역시 수성구 고산로 101 (신매동 566-3),1,2,0,42302.00,162058962000,984,0,2,0
161,부평점,인천광역시 부평구 주부토로 241 (갈산동 171),1,8,0,6600.00,12566400000,543,0,2,0
162,덕이점,고양시 일산서구 경의로 798 (덕이동 205),2,2,1,31948.83,73642053150,676,0,2,0
163,서부산점,부산광역시 사상구 낙동대로 910 (감전동),1,2,0,71773.50,133929351000,984,0,2,0
164,상무점,광주광역시 서구 운천로 263 (치평동),1,1,0,45416.28,143242947120,543,0,2,0

In [32]:
car = pd.read_excel("../../데이터/관련자료/1인당_자동차_등록대수_시도_시_군_구__20200706171358.xlsx",header=1)
car

       행정구역별  1인당 자동차등록대수<br>(A÷B) (대)  자동차등록대수<br>(A) (대)  주민등록인구<br>(B) (명)
0      서울특별시                       0.3             3124157            9729107
1     　　　종로구                       0.3               50052             151290
2      　　　중구                       0.4               51736             126171
3     　　　용산구                       0.3               76521             228670
4     　　　성동구                       0.4              106263             300889
..       ...                       ...                 ...                ...
240   　　　거창군                       0.5               32265              62179
241   　　　합천군                       0.5               23618              45204
242  제주특별자치도                       0.9              596215             670989
243   　　　제주시                       1.0              491312             489405
244  　　　서귀포시                       0.6              104903             181584

[245 rows x 4 columns]

In [33]:
a = [i for i in car.행정구역별 if ("특별" in i and "특별자치도" not in i) or "광역시" in i]

In [34]:
a

['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시', '세종특별자치시']

In [35]:
b = []
for i in range(len(car)):
    if car.행정구역별[i] in a:
        b.append(i)

In [36]:
b

[0, 26, 43, 52, 63, 69, 75, 81]

In [37]:
for i in range(len(car)):
    if i > 0 and i < 26:
        car.loc[i,"행정구역별"] = "서울특별시 " + car.loc[i,"행정구역별"].strip()
    elif i > 26 and i < 43:
        car.loc[i,"행정구역별"] = "부산광역시 " + car.loc[i,"행정구역별"].strip()
    elif i > 43 and i < 52:
        car.loc[i,"행정구역별"] = "대구광역시 " + car.loc[i,"행정구역별"].strip()
    elif i > 52 and i < 63:
        car.loc[i,"행정구역별"] = "인천광역시 " + car.loc[i,"행정구역별"].strip()
    elif i > 63 and i < 69:
        car.loc[i,"행정구역별"] = "광주광역시 " + car.loc[i,"행정구역별"].strip()
    elif i > 69 and i < 75:
        car.loc[i,"행정구역별"] = "대전광역시 " + car.loc[i,"행정구역별"].strip()
    elif i > 75 and i < 81:
        car.loc[i,"행정구역별"] = "울산광역시 " + car.loc[i,"행정구역별"].strip()

In [38]:
car

,행정구역별,1인당 자동차등록대수<br>(A÷B) (대),자동차등록대수<br>(A) (대),주민등록인구<br>(B) (명)
0,서울특별시,0.3,3124157,9729107
1,서울특별시 종로구,0.3,50052,151290
2,서울특별시 중구,0.4,51736,126171
3,서울특별시 용산구,0.3,76521,228670
4,서울특별시 성동구,0.4,106263,300889
...,...,...,...,...
240,거창군,0.5,32265,62179
241,합천군,0.5,23618,45204
242,제주특별자치도,0.9,596215,670989
243,제주시,1.0,491312,489405
244,서귀포시,0.6,104903,181584

In [45]:
car = pd.read_excel("../../데이터/자동차 추가.xlsx")
car

,행정구역별,1인당 자동차등록대수<br>(A÷B) (대),자동차등록대수<br>(A) (대),주민등록인구<br>(B) (명)
0,서울특별시 종로구,0.3,50052,151290
1,서울특별시 중구,0.4,51736,126171
2,서울특별시 용산구,0.3,76521,228670
3,서울특별시 성동구,0.4,106263,300889
4,서울특별시 광진구,0.3,99299,351350
...,...,...,...,...
224,함양군,0.5,19473,39637
225,거창군,0.5,32265,62179
226,합천군,0.5,23618,45204
227,제주시,1.0,491312,489405
228,서귀포시,0.6,104903,181584

In [46]:
count = 0
c= 0
for i in range(len(car)):
    for j in range(len(emart)):
        if car.loc[i,"행정구역별"] in emart.loc[j,"주소"]:
            if i == 111 and ("남양주" in emart.loc[j,"주소"]):
                c+=1
                continue
            emart.loc[j,"자동차대수"] = car.loc[i,"자동차등록대수<br>(A) (대)"]
    
            count+=1
count

169

In [47]:
emart

,지점명,주소,3km내 이마트,3km내 경쟁 대형마트,3km내 창고형 마트,부지 면적,부지 공시지가,주차 시설,대중 교통,점포형태,자동차대수
0,청계천점,대한민국 서울특별시 중구 황학동 청계천로 400,1,3,0,96410.82,861912730800,1000,0,0,51736
1,용산점,대한민국 서울특별시 용산구 한강로3가 한강대로23길 55,1,0,0,42405.64,641173276800,2100,2,0,76521
2,창동점,대한민국 서울특별시 도봉구 창동 노해로65길 4,1,4,0,12776.00,90530736000,159,1,0,96435
3,미아점,대한민국 서울특별시 성북구 길음동 도봉로 17,2,2,0,20690.71,316154048800,195,1,0,119321
4,하월곡점,대한민국 서울특별시 성북구 하월곡동 230,2,2,0,75041.00,479511990000,760,0,0,119321
...,...,...,...,...,...,...,...,...,...,...,...
160,시지점,대구광역시 수성구 고산로 101 (신매동 566-3),1,2,0,42302.00,162058962000,984,0,2,218885
161,부평점,인천광역시 부평구 주부토로 241 (갈산동 171),1,8,0,6600.00,12566400000,543,0,2,228866
162,덕이점,고양시 일산서구 경의로 798 (덕이동 205),2,2,1,31948.83,73642053150,676,0,2,418739
163,서부산점,부산광역시 사상구 낙동대로 910 (감전동),1,2,0,71773.50,133929351000,984,0,2,89888
164,상무점,광주광역시 서구 운천로 263 (치평동),1,1,0,45416.28,143242947120,543,0,2,148351

In [48]:
emart.to_excel("../../데이터/emart(자동차 추가).xlsx",encoding="cp949",index=False)

In [31]:
emart.to_excel("../데이터/emart(최종.ver1).xlsx",encoding="cp949",index=False)