In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
from matplotlib import font_manager, rc
sns.set(style='darkgrid')


rc('font', family='AppleGothic')
matplotlib.rcParams['axes.unicode_minus'] = False
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [57]:
emart = pd.read_excel("../../데이터/emart(창고형없이.ver2).xlsx",usecols="C:D,F,H:R")
emart

,3km내 이마트,3km내 경쟁 대형마트,부지 면적,주차 시설,대중 교통,2019실제영업이익(백만원),65세이상,65세이상경제활동인구,총인구수,경제활동인구,1인당지방세부담액(천원),소멸위기지역,1인가구구성원수,다인가구구성원수
0,0,2,30395.90,835,0,363.861192,65173,18900.170,427436,250477.496,1098.98,0,35853,391583
1,0,3,38564.57,1200,0,461.646157,62003,17980.870,437566,256413.676,802.15,0,48073,389493
2,0,4,40101.26,850,1,480.041462,59313,18802.221,481449,306201.564,719.25,0,61414,420035
3,0,2,11044.82,1636,1,492.896969,36077,12843.412,258857,170845.620,1515.42,0,83657,571535
4,0,1,42095.66,1124,1,503.915891,78491,22762.390,566213,331800.818,787.78,0,59291,506922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,1,2,42302.00,984,0,1053.171844,65173,18900.170,427436,250477.496,1098.98,0,35853,391583
143,1,8,6600.00,543,0,209.458233,71494,23092.562,503946,326557.008,149.36,0,48607,455339
144,2,2,31948.83,676,0,1054.340529,36704,9946.784,303555,192453.870,1198.70,0,84595,991584
145,1,2,71773.50,984,0,1869.793588,37716,10749.060,216083,124679.891,769.06,0,27709,188374
146,1,1,45416.28,543,0,2162.304280,41429,13257.280,299850,184107.900,942.95,0,38197,261653

In [58]:
from sklearn.linear_model import LogisticRegression

from sklearn.preprocessing import scale, robust_scale

LR = LogisticRegression()

X = emart.iloc[:,:-1]
y = emart.iloc[:,-1]

X.info()

X1 = scale(X)
X2 = robust_scale(X)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   3km내 이마트         147 non-null    int64
 1   3km내 경쟁 대형마트     147 non-null    int64
 2   부지 면적            147 non-null    float64
 3   주차 시설            147 non-null    int64
 4   대중 교통            147 non-null    int64
 5   2019실제영업이익(백만원)  147 non-null    float64
 6   65세이상            147 non-null    int64
 7   65세이상경제활동인구      147 non-null    float64
 8   총인구수             147 non-null    int64
 9   경제활동인구           147 non-null    float64
 10  1인당지방세부담액(천원)    147 non-null    float64
 11  소멸위기지역           147 non-null    int64
 12  1인가구구성원수         147 non-null    int64
dtypes: float64(5), int64(8)
memory usage: 15.1 KB

In [59]:
from sklearn.cluster import KMeans

In [60]:
model = KMeans(2,random_state=42)
model.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=42, tol=0.0001, verbose=0)

In [61]:
labels = model.labels_
labels

array([1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0], dtype=int32)

In [62]:
model.fit(X1)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=42, tol=0.0001, verbose=0)

In [63]:
labels = model.labels_
labels

array([0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1], dtype=int32)

In [64]:
model.fit(X2)
labels = model.labels_
labels

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)