In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score,GridSearchCV

In [2]:
emart = pd.read_excel("./prototype_model7.xlsx",usecols="A,I,J")

In [3]:
emart

          지점명  점포형태  score
0        신도림점     0  55.66
1         묵동점     0  53.34
2        영등포점     0  52.74
3         상봉점     0  52.45
4         구로점     0  48.50
..        ...   ...    ...
142       시지점     1  46.06
143      서부산점     1  45.76
144  안산점(공단점)     1  43.74
145       상무점     1  42.55
146       공항점     1  36.28

[147 rows x 3 columns]

In [4]:
x = emart.iloc[:,-1]
y = emart.iloc[:,1]

In [5]:
x.shape

(147,)

In [6]:
y.shape

(147,)

In [7]:
X = np.array(x).reshape(-1,1)

In [8]:
X.shape

(147, 1)

In [9]:
LR = LogisticRegression()

In [10]:
LR.fit(X,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [11]:
LR.score(X,y)

0.9319727891156463

In [12]:
LR.predict(X)

array([1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0])

In [13]:
pred=LR.predict_proba(X)

In [14]:
for i in range(len(emart)):
    if pred[i][1] > 0.2:
        print(emart["지점명"][i],"----> 생존확률:{} / 폐점확률:{} ---->{}".format(pred[i][0],pred[i][1],"폐점가능성"))

신도림점 ----> 생존확률:0.32776389314532917 / 폐점확률:0.6722361068546708 ---->폐점가능성
묵동점 ----> 생존확률:0.45329024115388905 / 폐점확률:0.546709758846111 ---->폐점가능성
영등포점 ----> 생존확률:0.4874836739454512 / 폐점확률:0.5125163260545488 ---->폐점가능성
상봉점 ----> 생존확률:0.504072552580767 / 폐점확률:0.49592744741923306 ---->폐점가능성
구로점 ----> 생존확률:0.7150921947426525 / 폐점확률:0.28490780525734744 ---->폐점가능성
하월곡점 ----> 생존확률:0.7827607730304735 / 폐점확률:0.21723922696952652 ---->폐점가능성
덕이점 ----> 생존확률:0.4601041199429414 / 폐점확률:0.5398958800570586 ---->폐점가능성
학성점 ----> 생존확률:0.48862726761544417 / 폐점확률:0.5113727323845558 ---->폐점가능성
부평점 ----> 생존확률:0.5292127725976695 / 폐점확률:0.4707872274023305 ---->폐점가능성
장안점 ----> 생존확률:0.635083226018293 / 폐점확률:0.364916773981707 ---->폐점가능성

In [15]:
grid={"C" : np.logspace(0, 4, 10), "penalty":["l1","l2"]}

In [16]:
logreg_cv=GridSearchCV(LR,grid,cv=10)

In [17]:
logreg_cv.get_params

<bound method BaseEstimator.get_params of GridSearchCV(cv=10, error_score=nan,
             estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                          fit_intercept=True,
                                          intercept_scaling=1, l1_ratio=None,
                                          max_iter=100, multi_class='auto',
                                          n_jobs=None, penalty='l2',
                                          random_state=None, solver='lbfgs',
                                          tol=0.0001, verbose=0,
                                          warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'C': array([1.00000000e+00, 2.78255940e+00, 7.74263683e+00, 2.15443469e+01,
       5.99484250e+01, 1.66810054e+02, 4.64158883e+02, 1.29154967e+03,
       3.59381366e+03, 1.00000000e+04]),
                         'penalty': ['l1', 'l2']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)>

In [18]:
logreg_cv.fit(X,y)

/Users/dongmin/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 9 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
/Users/dongmin/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
/Users/dongmin/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
/Users/dongmin/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
/Users/dongmin/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
/Users/dongmin/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
/Users/dongmin/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
/Users/dongmin/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
/Users/dongmin/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
/Users/dongmin/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
/Users/dongmin/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)

GridSearchCV(cv=10, error_score=nan,
             estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                          fit_intercept=True,
                                          intercept_scaling=1, l1_ratio=None,
                                          max_iter=100, multi_class='auto',
                                          n_jobs=None, penalty='l2',
                                          random_state=None, solver='lbfgs',
                                          tol=0.0001, verbose=0,
                                          warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'C': array([1.00000000e+00, 2.78255940e+00, 7.74263683e+00, 2.15443469e+01,
       5.99484250e+01, 1.66810054e+02, 4.64158883e+02, 1.29154967e+03,
       3.59381366e+03, 1.00000000e+04]),
                         'penalty': ['l1', 'l2']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [19]:
logreg_cv.predict(X)

array([1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0])

In [20]:
pred=logreg_cv.predict_proba(X)

In [21]:
voting = pd.read_excel("./make_voting.xlsx")
voting

      지점명    1차폐점확률    2차폐점확률    3차폐점확률    4차폐점확률    5차폐점확률    6차폐점확률
0    청계천점  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1     용산점  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
2     창동점  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
3     미아점  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
4    하월곡점  0.000000  0.000000  0.000000  0.000000  0.212599  0.000000
..    ...       ...       ...       ...       ...       ...       ...
142   시지점  0.465306  0.340386  0.315231  0.208471  0.000000  0.000000
143   부평점  0.605194  0.288705  0.588044  0.550270  0.314337  0.359143
144   덕이점  0.000000  0.000000  0.794591  0.725065  0.212599  0.342986
145  서부산점  0.493558  0.285353  0.000000  0.362113  0.212599  0.000000
146   상무점  0.282596  0.223661  0.337438  0.362113  0.000000  0.000000

[147 rows x 7 columns]

In [22]:
voting["7차폐점확률"] = 0.
for i in range(len(emart)):
    if pred[i][1] > 0.2:
        print(emart["지점명"][i],"----> 생존확률:{} / 폐점확률:{} ---->{}".format(pred[i][0],pred[i][1],"폐점가능성"))
        voting.iloc[voting[voting.지점명 == emart["지점명"][i]].index[0],-1] = pred[i][1]

신도림점 ----> 생존확률:0.32776389314532917 / 폐점확률:0.6722361068546708 ---->폐점가능성
묵동점 ----> 생존확률:0.45329024115388905 / 폐점확률:0.546709758846111 ---->폐점가능성
영등포점 ----> 생존확률:0.4874836739454512 / 폐점확률:0.5125163260545488 ---->폐점가능성
상봉점 ----> 생존확률:0.504072552580767 / 폐점확률:0.49592744741923306 ---->폐점가능성
구로점 ----> 생존확률:0.7150921947426525 / 폐점확률:0.28490780525734744 ---->폐점가능성
하월곡점 ----> 생존확률:0.7827607730304735 / 폐점확률:0.21723922696952652 ---->폐점가능성
덕이점 ----> 생존확률:0.4601041199429414 / 폐점확률:0.5398958800570586 ---->폐점가능성
학성점 ----> 생존확률:0.48862726761544417 / 폐점확률:0.5113727323845558 ---->폐점가능성
부평점 ----> 생존확률:0.5292127725976695 / 폐점확률:0.4707872274023305 ---->폐점가능성
장안점 ----> 생존확률:0.635083226018293 / 폐점확률:0.364916773981707 ---->폐점가능성

In [23]:
voting

,지점명,1차폐점확률,2차폐점확률,3차폐점확률,4차폐점확률,5차폐점확률,6차폐점확률,7차폐점확률
0,청계천점,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,용산점,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,창동점,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,미아점,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,하월곡점,0.000000,0.000000,0.000000,0.000000,0.212599,0.000000,0.217239
...,...,...,...,...,...,...,...,...
142,시지점,0.465306,0.340386,0.315231,0.208471,0.000000,0.000000,0.000000
143,부평점,0.605194,0.288705,0.588044,0.550270,0.314337,0.359143,0.470787
144,덕이점,0.000000,0.000000,0.794591,0.725065,0.212599,0.342986,0.539896
145,서부산점,0.493558,0.285353,0.000000,0.362113,0.212599,0.000000,0.000000
146,상무점,0.282596,0.223661,0.337438,0.362113,0.000000,0.000000,0.000000

In [24]:
voting.to_excel("make_voting.xlsx",index=False)