In [23]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score,GridSearchCV

In [24]:
emart = pd.read_excel("./prototype_model2.xlsx",usecols="A,K,L")

In [25]:
emart

          지점명  점포형태     score
0         일산점     0  3.886032
1         묵동점     0  3.772105
2         마포점     0  3.769929
3        동광주점     0  3.632204
4         남원점     0  3.613882
..        ...   ...       ...
142  안산점(공단점)     1  3.780275
143      서부산점     1  3.778858
144       상무점     1  3.662998
145       덕이점     1  3.497485
146       공항점     1  3.471945

[147 rows x 3 columns]

In [26]:
x = emart.iloc[:,-1]
y = emart.iloc[:,1]

In [27]:
x.shape

(147,)

In [28]:
y.shape

(147,)

In [29]:
X = np.array(x).reshape(-1,1)

In [30]:
X.shape

(147, 1)

In [31]:
LR = LogisticRegression()

In [32]:
LR.fit(X,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [33]:
LR.score(X,y)

0.9387755102040817

In [34]:
LR.predict(X)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [35]:
pred=LR.predict_proba(X)

In [36]:
for i in range(len(emart)):
    if pred[i][1] > 0.2:
        print(emart["지점명"][i],"----> 생존확률:{} / 폐점확률:{} ---->{}".format(pred[i][0],pred[i][1],"폐점가능성"))

일산점 ----> 생존확률:0.6493384444982815 / 폐점확률:0.35066155550171846 ---->폐점가능성
묵동점 ----> 생존확률:0.7185102444498654 / 폐점확률:0.2814897555501345 ---->폐점가능성
마포점 ----> 생존확률:0.7197484259653725 / 폐점확률:0.2802515740346275 ---->폐점가능성
동광주점 ----> 생존확률:0.7910404435212964 / 폐점확률:0.2089595564787036 ---->폐점가능성
남원점 ----> 생존확률:0.7994442449105639 / 폐점확률:0.20055575508943613 ---->폐점가능성
장안점 ----> 생존확률:0.5202910725295417 / 폐점확률:0.47970892747045835 ---->폐점가능성
학성점 ----> 생존확률:0.5275608602005126 / 폐점확률:0.4724391397994873 ---->폐점가능성
시지점 ----> 생존확률:0.6596137512349896 / 폐점확률:0.3403862487650104 ---->폐점가능성
부평점 ----> 생존확률:0.7112947383792392 / 폐점확률:0.2887052616207609 ---->폐점가능성
안산점(공단점) ----> 생존확률:0.7138318092021549 / 폐점확률:0.286168190797845 ---->폐점가능성
서부산점 ----> 생존확률:0.7146465670390117 / 폐점확률:0.28535343296098825 ---->폐점가능성
상무점 ----> 생존확률:0.7763387860506231 / 폐점확률:0.22366121394937688 ---->폐점가능성

In [37]:
grid={"C" : np.logspace(0, 4, 10), "penalty":["l1","l2"]}

In [38]:
logreg_cv=GridSearchCV(LR,grid,cv=10)

In [39]:
logreg_cv.get_params

<bound method BaseEstimator.get_params of GridSearchCV(cv=10, error_score=nan,
             estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                          fit_intercept=True,
                                          intercept_scaling=1, l1_ratio=None,
                                          max_iter=100, multi_class='auto',
                                          n_jobs=None, penalty='l2',
                                          random_state=None, solver='lbfgs',
                                          tol=0.0001, verbose=0,
                                          warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'C': array([1.00000000e+00, 2.78255940e+00, 7.74263683e+00, 2.15443469e+01,
       5.99484250e+01, 1.66810054e+02, 4.64158883e+02, 1.29154967e+03,
       3.59381366e+03, 1.00000000e+04]),
                         'penalty': ['l1', 'l2']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)>

In [40]:
logreg_cv.fit(X,y)

/Users/dongmin/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 9 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)
/Users/dongmin/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
/Users/dongmin/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
/Users/dongmin/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
/Users/dongmin/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
/Users/dongmin/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
/Users/dongmin/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
/Users/dongmin/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
/Users/dongmin/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
/Users/dongmin/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)
/Users/dongmin/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  FitFailedWarning)

GridSearchCV(cv=10, error_score=nan,
             estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                          fit_intercept=True,
                                          intercept_scaling=1, l1_ratio=None,
                                          max_iter=100, multi_class='auto',
                                          n_jobs=None, penalty='l2',
                                          random_state=None, solver='lbfgs',
                                          tol=0.0001, verbose=0,
                                          warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'C': array([1.00000000e+00, 2.78255940e+00, 7.74263683e+00, 2.15443469e+01,
       5.99484250e+01, 1.66810054e+02, 4.64158883e+02, 1.29154967e+03,
       3.59381366e+03, 1.00000000e+04]),
                         'penalty': ['l1', 'l2']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [41]:
logreg_cv.predict(X)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [42]:
pred=logreg_cv.predict_proba(X)

In [44]:
voting = pd.read_excel("./make_voting.xlsx")
voting

      지점명    1차폐점확률    3차폐점확률
0    청계천점  0.000000  0.000000
1     용산점  0.000000  0.000000
2     창동점  0.000000  0.000000
3     미아점  0.000000  0.000000
4    하월곡점  0.000000  0.000000
..    ...       ...       ...
142   시지점  0.465306  0.315231
143   부평점  0.605194  0.588044
144   덕이점  0.000000  0.794591
145  서부산점  0.493558  0.000000
146   상무점  0.282596  0.337438

[147 rows x 3 columns]

In [45]:
voting["2차폐점확률"] = 0.
for i in range(len(emart)):
    if pred[i][1] > 0.2:
        print(emart["지점명"][i],"----> 생존확률:{} / 폐점확률:{} ---->{}".format(pred[i][0],pred[i][1],"폐점가능성"))
        voting.iloc[voting[voting.지점명 == emart["지점명"][i]].index[0],-1] = pred[i][1]

일산점 ----> 생존확률:0.6493384444982815 / 폐점확률:0.35066155550171846 ---->폐점가능성
묵동점 ----> 생존확률:0.7185102444498654 / 폐점확률:0.2814897555501345 ---->폐점가능성
마포점 ----> 생존확률:0.7197484259653725 / 폐점확률:0.2802515740346275 ---->폐점가능성
동광주점 ----> 생존확률:0.7910404435212964 / 폐점확률:0.2089595564787036 ---->폐점가능성
남원점 ----> 생존확률:0.7994442449105639 / 폐점확률:0.20055575508943613 ---->폐점가능성
장안점 ----> 생존확률:0.5202910725295417 / 폐점확률:0.47970892747045835 ---->폐점가능성
학성점 ----> 생존확률:0.5275608602005126 / 폐점확률:0.4724391397994873 ---->폐점가능성
시지점 ----> 생존확률:0.6596137512349896 / 폐점확률:0.3403862487650104 ---->폐점가능성
부평점 ----> 생존확률:0.7112947383792392 / 폐점확률:0.2887052616207609 ---->폐점가능성
안산점(공단점) ----> 생존확률:0.7138318092021549 / 폐점확률:0.286168190797845 ---->폐점가능성
서부산점 ----> 생존확률:0.7146465670390117 / 폐점확률:0.28535343296098825 ---->폐점가능성
상무점 ----> 생존확률:0.7763387860506231 / 폐점확률:0.22366121394937688 ---->폐점가능성

In [46]:
voting

      지점명    1차폐점확률    3차폐점확률    2차폐점확률
0    청계천점  0.000000  0.000000  0.000000
1     용산점  0.000000  0.000000  0.000000
2     창동점  0.000000  0.000000  0.000000
3     미아점  0.000000  0.000000  0.000000
4    하월곡점  0.000000  0.000000  0.000000
..    ...       ...       ...       ...
142   시지점  0.465306  0.315231  0.340386
143   부평점  0.605194  0.588044  0.288705
144   덕이점  0.000000  0.794591  0.000000
145  서부산점  0.493558  0.000000  0.285353
146   상무점  0.282596  0.337438  0.223661

[147 rows x 4 columns]

In [47]:
voting = voting[["지점명","1차폐점확률","2차폐점확률","3차폐점확률"]]

In [48]:
voting

      지점명    1차폐점확률    2차폐점확률    3차폐점확률
0    청계천점  0.000000  0.000000  0.000000
1     용산점  0.000000  0.000000  0.000000
2     창동점  0.000000  0.000000  0.000000
3     미아점  0.000000  0.000000  0.000000
4    하월곡점  0.000000  0.000000  0.000000
..    ...       ...       ...       ...
142   시지점  0.465306  0.340386  0.315231
143   부평점  0.605194  0.288705  0.588044
144   덕이점  0.000000  0.000000  0.794591
145  서부산점  0.493558  0.285353  0.000000
146   상무점  0.282596  0.223661  0.337438

[147 rows x 4 columns]

In [49]:
voting.to_excel("make_voting.xlsx",index=False)